<div class="container-fluid" id="videoSet">
    <div class="modal-body">
        <div>
            <div style="height: 24px;width: 8px;background-color: #fcb750"></div>
            <div style="margin-left: 20px;margin-top: -30px;font-size: 24px">视频加工</div>
        </div>
        
        <div class="row form-inline videosetOpera margin-left-none margin-right-none">
            <p>对一个或多个视频进行剪切或合并处理，并生成新的视频资料</p>
            <button ng-click="EditVideo('cutting')" class="btn btn-primary colorShow">开始视频剪辑</button>
        </div>
        <div class="row form-inline videosetOpera margin-left-none margin-right-none">
            <p>对单个视频内知识点进行标注</p>
            <button ng-click="EditVideo('dotting')" class="btn btn-primary colorShow">开始视频打点</button>
        </div>
        <div class="lasted-video margin-top-20">
            <h4>最新视频</h4>
            <hr class="margin-top-10"/>
            <div class="row">
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div><div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
                <div class="videosetLast col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-right-none" style="max-width:400px;">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">   
                        <div class="v-meta-overlay">
                            <button class="btn btn-primary colorShow btn-xs">去剪辑</button>
                            <button class="btn btn-primary colorShow btn-xs margin-left-20">去打点</button>
                            <div class="teacher-name margin-top-20">李梅</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <pagination
            class="pagination-sm pull-right"
            total-items="pagination.totalItems"
            page="pagination.pageIndex"
            items-per-page="pagination.pageSize"
            max-size="pagination.maxSize"
            previous-text="{{pagination.previousText}}"
            next-text="{{pagination.nextText}}"
            first-text="{{pagination.firstText}}"
            last-text="{{pagination.lastText}}"
            class="pagination-small"
            boundary-links="true"
            on-select-page="onSelectPage(page)">
    </pagination> -->
</div>