@font-face {
	font-family: 'zkicon';
	src:url('../fonts/zkiconfonts/zkicon.eot?f8zasi');
	src:url('../fonts/zkiconfonts/zkicon.eot?#iefixf8zasi') format('embedded-opentype'),
		url('../fonts/zkiconfonts/zkicon.woff?f8zasi') format('woff'),
		url('../fonts/zkiconfonts/zkicon.ttf?f8zasi') format('truetype'),
		url('../fonts/zkiconfonts/zkicon.svg?f8zasi#zkicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'zkicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ipad:before {
	content: "\e6c6";
}
.icon-iphone:before {
	content: "\e6c7";
}
.icon-android:before {
	content: "\e6c8";
}
.icon-kh01:before {
	content: "\e6c3";
}
.icon-kh02:before {
	content: "\e6c4";
}
.icon-aa2:before {
	content: "\e6b6";
}
.icon-location01:before {
	content: "\e6b8";
}
.icon-location02:before {
	content: "\e6bc";
}
.icon-location03:before {
	content: "\e6bd";
}
.icon-location04:before {
	content: "\e6be";
}
.icon-pinp01:before {
	content: "\e6bf";
}
.icon-pinp02:before {
	content: "\e6c0";
}
.icon-pinp03:before {
	content: "\e6c1";
}
.icon-pinp04:before {
	content: "\e6c2";
}
.icon-swap:before {
	content: "\e6ba";
}
.icon-local-library:before {
	content: "\e6bb";
}
.icon-my-download:before {
	content: "\e6b9";
}
.icon-nexttip:before {
	content: "\e6b5";
}
.icon-check2:before {
	content: "\e6b7";
}
.icon-read:before {
	content: "\e6b4";
}
.icon-share:before {
	content: "\e6b3";
}
.icon-share_cancel:before {
	content: "\e6b2";
}
.icon-launch_no:before {
	content: "\e6b1";
}
.icon-light:before {
	content: "\e6af";
}
.icon-call-on:before {
	content: "\e6a5";
}
.icon-list-w:before {
	content: "\e6a3";
}
.icon-list-p:before {
	content: "\e6a4";
}
.icon-booth:before {
	content: "\e69e";
}
.icon-notebook:before {
	content: "\e69f";
}
.icon-mainunit:before {
	content: "\e6a0";
}
.icon-curtain-down:before {
	content: "\e69b";
}
.icon-curtain-up:before {
	content: "\e69d";
}
.icon-room-right-none:before {
	content: "\e6a2";
}
.icon-room-left-none:before {
	content: "\e6a1";
}
.icon-room-right-off:before {
	content: "\e698";
}
.icon-room-left-off:before {
	content: "\e699";
}
.icon-room-right:before {
	content: "\e69a";
}
.icon-room-left:before {
	content: "\e69c";
}
.icon-close-with:before {
	content: "\e68c";
}
.icon-cloth:before {
	content: "\e68b";
}
.icon-phone_search_no:before {
	content: "\e688";
}
.icon-phone_refresh:before {
	content: "\e687";
}
.icon-phone_search:before {
	content: "\e685";
}
.icon-phone_user:before {
	content: "\e686";
}
.icon-zklogo1:before {
	content: "\e683";
}
.icon-zklogo:before {
	content: "\e684";
}
.icon-record_room:before {
	content: "\e682";
}
.icon-camera-max:before {
	content: "\e67d";
}
.icon-camera-more:before {
	content: "\e67e";
}
.icon-camera-pause:before {
	content: "\e67f";
}
.icon-bigcanmera:before {
	content: "\e680";
}
.icon-movie-add:before {
	content: "\e681";
}
.icon-movie-creat:before {
	content: "\e67c";
}
.icon-my-library-del:before {
	content: "\e67b";
}
.icon-movie-creation3:before {
	content: "\e67a";
}
.icon-movie-creation2:before {
	content: "\e679";
}
.icon-view_disc:before {
	content: "\e674";
}
.icon-view_equi:before {
	content: "\e675";
}
.icon-view_sche:before {
	content: "\e676";
}
.icon-record_off:before {
	content: "\e672";
}
.icon-record_on:before {
	content: "\e673";
}
.icon-play-in-main:before {
	content: "\e670";
}
.icon-play-in-main2:before {
	content: "\e671";
}
.icon-in-picture:before {
	content: "\e65e";
}
.icon-Outlook:before {
	content: "\e667";
}
.icon-Office:before {
	content: "\e66d";
}
.icon-Word:before {
	content: "\e66e";
}
.icon-Videos:before {
	content: "\e65f";
}
.icon-Recorder:before {
	content: "\e660";
}
.icon-Publisher:before {
	content: "\e661";
}
.icon-Project:before {
	content: "\e662";
}
.icon-PowerPoint:before {
	content: "\e663";
}
.icon-Pictrue:before {
	content: "\e664";
}
.icon-PDF:before {
	content: "\e665";
}
.icon-OneNote:before {
	content: "\e666";
}
.icon-Folder:before {
	content: "\e668";
}
.icon-Excel:before {
	content: "\e669";
}
.icon-Documents:before {
	content: "\e66a";
}
.icon-Default:before {
	content: "\e66b";
}
.icon-Access:before {
	content: "\e66c";
}
.icon-documnet:before {
	content: "\e622";
}
.icon-reader:before {
	content: "\e282";
}
.icon-equalizer:before {
	content: "\e007";
}
.icon-do_not_disturb:before {
	content: "\e218";
}
.icon-launch:before {
	content: "\e6b0";
}
.icon-book:before {
	content: "\e6a9";
}
.icon-bookmark:before {
	content: "\e6a8";
}
.icon-lock-open:before {
	content: "\e6a6";
}
.icon-lock-outline:before {
	content: "\e6a7";
}
.icon-markunread-mailbox:before {
	content: "\e6ab";
}
.icon-settings2:before {
	content: "\e6ac";
}
.icon-mic:before {
	content: "\e68e";
}
.icon-mnone:before {
	content: "\e68f";
}
.icon-moff:before {
	content: "\e690";
}
.icon-not-interested:before {
	content: "\e6ad";
}
.icon-videocam2:before {
	content: "\e691";
}
.icon-videocam-off2:before {
	content: "\e692";
}
.icon-volume-off:before {
	content: "\e693";
}
.icon-volume-up:before {
	content: "\e694";
}
.icon-call-end:before {
	content: "\e696";
}
.icon-border-outer:before {
	content: "\e6aa";
}
.icon-gradient:before {
	content: "\e697";
}
.icon-local-laundry-service:before {
	content: "\e6ae";
}
.icon-person2:before {
	content: "\e695";
}
.icon-swap-horiz:before {
	content: "\e68d";
}
.icon-open-with:before {
	content: "\e689";
}
.icon-cancel:before {
	content: "\e68a";
}
.icon-movie-creation:before {
	content: "\e678";
}
.icon-settings-voice:before {
	content: "\e66f";
}
.icon-volume-decrease:before {
	content: "\e651";
}
.icon-volume-increase:before {
	content: "\e658";
}
.icon-volume-mute:before {
	content: "\e659";
}
.icon-volume-mute2:before {
	content: "\e65a";
}
.icon-volume-low:before {
	content: "\e65b";
}
.icon-volume-medium:before {
	content: "\e65c";
}
.icon-volume-high:before {
	content: "\e65d";
}
.icon-info-outline:before {
	content: "\e650";
}
.icon-file_move:before {
	content: "\e814";
}
.icon-publish_yes:before {
	content: "\e813";
}
.icon-start:before {
	content: "\e64d";
}
.icon-start1:before {
	content: "\e64e";
}
.icon-link:before {
	content: "\e812";
}
.icon-hot:before {
	content: "\e811";
}
.icon-headline-6:before {
	content: "\e810";
}
.icon-my-folder:before {
	content: "\e809";
}
.icon-ab:before {
	content: "\e808";
}
.icon-video-6:before {
	content: "\e805";
}
.icon-aa:before {
	content: "\e806";
}
.icon-video-mark:before {
	content: "\e807";
}
.icon-alert:before {
	content: "\e802";
}
.icon-cam-control:before {
	content: "\e601";
}
.icon-tomax:before {
	content: "\e800";
}
.icon-all_video:before {
	content: "\e801";
}
.icon-brocast:before {
	content: "\e803";
}
.icon-ccamera:before {
	content: "\e804";
}
.icon-account-circle:before {
	content: "\e600";
}
.icon-assignment:before {
	content: "\e602";
}
.icon-cached:before {
	content: "\e603";
}
.icon-dashboard:before {
	content: "\e604";
}
.icon-delete:before {
	content: "\e605";
}
.icon-done:before {
	content: "\e606";
}
.icon-home:before {
	content: "\e607";
}
.icon-label:before {
	content: "\e608";
}
.icon-picture-in-picture:before {
	content: "\e609";
}
.icon-redeem:before {
	content: "\e60a";
}
.icon-settings:before {
	content: "\e60b";
}
.icon-settings-overscan:before {
	content: "\e60c";
}
.icon-swap-vert:before {
	content: "\e60d";
}
.icon-view-headline:before {
	content: "\e60e";
}
.icon-view-quilt:before {
	content: "\e60f";
}
.icon-view-stream:before {
	content: "\e610";
}
.icon-visibility:before {
	content: "\e611";
}
.icon-visibility-off:before {
	content: "\e612";
}
.icon-error:before {
	content: "\e613";
}
.icon-games:before {
	content: "\e614";
}
.icon-my-library-add:before {
	content: "\e615";
}
.icon-my-library-books:before {
	content: "\e616";
}
.icon-my-library-mus:before {
	content: "\e617";
}
.icon-play-arrow:before {
	content: "\e618";
}
.icon-queue:before {
	content: "\e619";
}
.icon-skip-next:before {
	content: "\e61a";
}
.icon-skip-previous:before {
	content: "\e61b";
}
.icon-stop:before {
	content: "\e61c";
}
.icon-web:before {
	content: "\e61d";
}
.icon-business:before {
	content: "\e61e";
}
.icon-call:before {
	content: "\e64f";
}
.icon-chat:before {
	content: "\e61f";
}
.icon-textsms:before {
	content: "\e620";
}
.icon-add:before {
	content: "\e621";
}
.icon-archive:before {
	content: "\e623";
}
.icon-backspace:before {
	content: "\e624";
}
.icon-create:before {
	content: "\e625";
}
.icon-remove:before {
	content: "\e626";
}
.icon-reply:before {
	content: "\e627";
}
.icon-access-time:before {
	content: "\e628";
}
.icon-storage:before {
	content: "\e629";
}
.icon-border-all:before {
	content: "\e62a";
}
.icon-format-align-justify:before {
	content: "\e62b";
}
.icon-format-list-bulleted:before {
	content: "\e62c";
}
.icon-cloud-download:before {
	content: "\e62d";
}
.icon-cloud-upload:before {
	content: "\e62e";
}
.icon-folder:before {
	content: "\e62f";
}
.icon-cast-connected:before {
	content: "\e64a";
}
.icon-desktop-windows:before {
	content: "\e630";
}
.icon-gamepad:before {
	content: "\e631";
}
.icon-laptop-chromebook:before {
	content: "\e632";
}
.icon-tablet:before {
	content: "\e633";
}
.icon-tablet-mac:before {
	content: "\e634";
}
.icon-add-to-photos:before {
	content: "\e635";
}
.icon-lens:before {
	content: "\e636";
}
.icon-portrait:before {
	content: "\e637";
}
.icon-arrow-drop-down:before {
	content: "\e638";
}
.icon-arrow-drop-up:before {
	content: "\e639";
}
.icon-check:before {
	content: "\e63a";
}
.icon-chevron-left:before {
	content: "\e63b";
}
.icon-chevron-right:before {
	content: "\e63c";
}
.icon-close:before {
	content: "\e63d";
}
.icon-expand-less:before {
	content: "\e63e";
}
.icon-expand-more:before {
	content: "\e63f";
}
.icon-event-note:before {
	content: "\e640";
}
.icon-sms:before {
	content: "\e641";
}
.icon-location-city:before {
	content: "\e642";
}
.icon-people:before {
	content: "\e643";
}
.icon-people-outline:before {
	content: "\e644";
}
.icon-person:before {
	content: "\e645";
}
.icon-person-add:before {
	content: "\e646";
}
.icon-person-outline:before {
	content: "\e647";
}
.icon-school:before {
	content: "\e648";
}
.icon-settings-applications:before {
	content: "\e652";
}
.icon-videocam:before {
	content: "\e653";
}
.icon-videocam-off:before {
	content: "\e654";
}
.icon-email:before {
	content: "\e655";
}
.icon-location-off:before {
	content: "\e656";
}
.icon-location-on:before {
	content: "\e657";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-edit:before {
	content: "\f044";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop2:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-cloud-download2:before {
	content: "\f0ed";
}
.icon-cloud-upload2:before {
	content: "\f0ee";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-check-alt:before {
	content: "\e64b";
}
.icon-x-altx-alt:before {
	content: "\e64c";
}
.icon-download:before {
	content: "\e649";
}
.icon-quill:before {
	content: "\e907";
}
.icon-book2:before {
	content: "\e91f";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-accessibility:before {
	content: "\e9b2";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-film:before {
	content: "\e677";
}


