<style>
    div[ui-tree] {
        /* prevent user selection */
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* default */
        font-family: Tahoma;
        font-size:13px;
        color: #555;
        text-decoration: none;
        border: 1px solid #D3D3D3;
        background: #f9f9f9;
        height:340px;
        overflow:auto;
        
    }
    .modal-content{
    	height:435px;
    }
    .modal{
		overflow: hidden;
		overflow-y: hidden;
		top:10%;
		left:30%;
		right:inherit;
	}
    .modal-input{
        width: 72px;
        border-radius: 4px;
        border:1px solid #a9a9a9;
        text-align:center;
    }
    input[type=date] {
		line-height: 23px;
		width: 140px;
	}
	.isAllChecked {
		box-shadow: -1px -1px 1px 1px rgba(255,0,0,0.6);
    }
    label.btn{
    	padding:3px 6px;
    	font-size:12px;
    }
</style>
<div style="width:100%;padding-top:30px;" class="modal-body ng-scope">
        <div class="col-xs-5 padding-left-right-none" style="padding-right: 30px;height: 400px">
            <div style="margin: 0 0 8px 40px;font-size: 16px">选择教室</div>
            <div>
                <div ui-tree id="tree-root" data-drag-enabled="false" class="nodes_rendererSelect.html">
                    <ol ui-tree-nodes ng-model="areaTree">
                        <li ng-repeat="node in areaTree" ui-tree-node ng-include="'nodes_rendererSelect.html'"></li>                        
                    </ol>
                </div>
            </div>
        </div>
    	<div class="col-xs-6" style="min-height:300px;" class="padding-top-10">
    		<div ng-repeat="state in statelist" class="col-xs-12">
    			<span class="col-xs-8">{{state.areaName}}</span>
    			<span class="col-xs-4" ng-if="state.resultState == 1">成功</span>
    			<span class="col-xs-4" ng-if="state.resultState == 0">失败</span>
    		</div>
    	</div>
</div>
<div class="courseheader-button">
    <button class="btn btn-primary btn-fristprimary margin-top-50" ng-click="save()" ng-disabled="savedisbled" style="width: 96px;height: 32px">开始应用</button>　　　
    <button class="btn btn-default margin-top-50" ng-click="cancel()" style="width: 96px;height: 32px">关闭</button>
</div>


<script type="text/ng-template" id="nodes_rendererSelect.html">

     <span ng-if="node.nodes && node.nodes.length > 0" style="margin-top: -8px;" class="button switch" ng-class="{'roots_close': collapsed, 'roots_open': !collapsed}" treenode_switch="" ng-click="toggle(this)"></span>
    <span class="tree-node" ng-class="{'tree-node-active':node.id===activeArea.id}" ng-click="setActiveAreaTreeNode(this)" ng-if="node.typeid=='-1' || node.typeid=='0' || node.typeid =='2'">
        <span ng-if="node.nodes && node.nodes.length > 0" class="button" ng-class="{'ico_close': collapsed, 'ico_open': !collapsed}"></span>
        <span ng-if="node.nodes && node.nodes.length === 0" class="glyphicon glyphicon-unchecked"></span>
        <input type="checkbox" ng-class="{'isAllChecked': node.halfFlag}" ng-model="node.isSelected" ng-click="checkAllTrees(node)">{{node.typeid}}
		<span title="{{node.title}}" style="max-width:calc(100% - 25px);text-overflow:ellipsis;overflow:hidden;display:inline-block;white-space:nowrap;">{{node.title}}</span>
    </span>
    <ol ui-tree-nodes="" ng-model="node.nodes" class="line" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_rendererSelect.html'"  ng-if="node.typeid=='0' || node.typeid =='2'">
        </li>
    </ol>
    

</script>