<div class="container-fluid">
    <div style="margin-top: 24px">
        <div class="form-group">
            <label>单位名称：</label>
            <input type="text" class="form-control" ng-model="plateForm.unitName" style="display:inline-block;width:13%"/>
        </div>
        <div class="form-group">
            <label>平台名称：</label>
            <input type="text" class="form-control" ng-model="plateForm.desktopName" style="display:inline-block;width:13%" />
        </div>
        <div class="form-group">
            <label>单位logo：</label>
            <div class="drop-box" style="width:220px;height:120px;display:inline-block;margin:0">
                <div ng-if="!file && plateForm.length < 0" style="padding-top: 45px;" class="ng-scope">
    		                        尺寸220*120
    		         </div>
                    <div>
                        <img style="width:220px;height:120px;" ng-src="{{plateForm.uintPictureurl}}">
                    </div>
                    
                </div>
                <!-- <label>图片最大尺寸220*120</label> -->
                <div style="margin-left:75px;">
                    <div class="js-fileapi-wrapper upload-btn">
                        <input id="choose" name="files" type="file" ng-file-select="onFileSelect($files)" style="width:175px"/>
                    </div>
                </div>
            </div>
        </div>
        
       <div class="form-group">
            <label>平台logo：</label>
            <div class="drop-box" style="width:220px;height:75px;display:inline-block;margin:0"
                        >
                <div ng-if="!file1 && plateForm.length < 0" style="padding-top: 25px;" class="ng-scope">
                                尺寸220*63
                </div>
                <div>
                    <img style="width:220px;height:63px;" ng-src="{{plateForm.desktopPictureurl}}">
                </div>
            </div>
            <!-- <label>图片最大尺寸220*63</label> -->
            <div style="margin-left:75px;">
                <div class="js-fileapi-wrapper upload-btn">
                    <input name="files" type="file" ng-file-select="onFileSelect1($files)" style="width:175px"/>
                </div>
            </div>
            
        </div> 
    </div>
    <div class="btn btn-primary" style="margin-left:130px;" ng-click="sumit()">保存</div>
</div>