<div class="container-fluid">
<div class="row" style="margin-top:20px">
<!--tree-->
<div class="col-xs-2">
    <div class="whiteframe">
        <div style="border-bottom:1px solid #e5e5e5;">
            <div class="system-left-top font-overlay-1" title="{{activeAreaTreeNode.title}}"><i class="icon-swap-horiz" ng-click="toggleArea=!toggleArea;toggleArea1()" style="color:#0071b7;font-size:30px;vertical-align: middle;cursor:pointer"></i>
                   <span>{{activeAreaTreeNode.title}}</span>
             </div>
        </div>
        <div style="">
            <div ui-tree id="tree-root" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="areaTree">
                    <li ng-repeat="node in areaTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--右边区域-->
<div class="col-md-10 padding-left-none">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #fff;padding-top:3px;padding-bottom:3px;">
            <div style="font-family: '微软雅黑'">
                <input type="checkbox" class="btn btn-primary" ng-model="checkAll"
                       ng-click="checkAllDailyList()" style="margin-top:-2px; margin-right:5px;">全选
                <div class="btn-group" style="padding: 5px">
                    <!-- <button class="btn btn-default" ng-click="deviceRefresh()">刷新</button> -->
                    <div class="btn-group" ng-if="!classroomlistinfo">
                        <button class="btn btn-default"  ng-disabled="!showM" ng-click="deviceDialog('重启')">重启</button>
                        <button class="btn btn-default"  ng-disabled="!showM" ng-click="deviceDialog('关机')">关机</button>
                        <button class="btn btn-default"  ng-disabled="!showM" ng-click="deviceDialog('复位')">复位</button>
                        <button class="btn btn-default"  ng-disabled="!showM" ng-click="deviceDialog('上课')">上课</button> 
                        <button class="btn btn-default"  ng-disabled="!showM" ng-click="deviceDialog('下课')">下课</button>
                    </div>  
                    <div class="btn-group" ng-if="classroomlistinfo">
                        <button class="btn btn-default"  ng-disabled="!showM || !recordChecked" ng-click="deviceDialog('重启')">重启</button>
                        <button class="btn btn-default"  ng-disabled="!showM || !recordChecked" ng-click="deviceDialog('关机')">关机</button>
                        <button class="btn btn-default"  ng-disabled="!showM || !recordChecked" ng-click="deviceDialog('复位')">复位</button>
                        <button class="btn btn-default"  ng-disabled="!showM || !centerChecked" ng-click="deviceDialog('上课')">上课</button> 
                        <button class="btn btn-default"  ng-disabled="!showM || !centerChecked" ng-click="deviceDialog('下课')">下课</button>
                    </div>                   
                </div>
                <span ng-show="!showM" class="badge" style="background:red;">请选择在线教室</span>
                <div class="form-inline margin-top-5 pull-right" role="form">
                    <button class="btn btn-default" ng-click="classroomlistinfo = !classroomlistinfo" style="padding:0 3px; font-size:23px;">
                        <i ng-class="{'icon-list-w':!classroomlistinfo,'icon-list-p':classroomlistinfo}"></i>
                    </button>
                	<button ng-show="!classroomlistinfo" class="btn btn-default" ng-disabled="deviceResfreshSet" ng-click="deviceRefresh('1')">刷新</button>
                	<button ng-show="classroomlistinfo" class="btn btn-default" ng-disabled="deviceListResfreshSet" ng-click="deviceListRefresh('2')">刷新</button>
                    <select ng-model="key.state" style="width: 85px" class="form-control">
                        <option value="">全部</option>
                        <option value="1">在线</option>
                        <option value="0">离线 </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body" id="rightContent-height">
            <div ng-if="dailyList.length <= 0">
                <button class="ondata">
                    <span class="ondatatext">找不到您搜索的信息！</span>
                </button>
            </div>
            
            <ul ng-show="!classroomlistinfo" class="hover-visible-wrapper" style="list-style-type: none;padding-left:10px;">
                <li ng-repeat="daily in dailyList | filter:key" style="display:inline-block;width:130px;margin-right:30px;height:120px;">
                    <div class="tooltipTest tooltipTest-effect-3" ng-controller="DirectorSeize">
                        <div class="dailyclass tooltipTest-item" >
                            <i style="font-size:63px;" ng-class="{'icon-room-left': daily.centerControllerIcon == true,'icon-room-left-off': daily.centerControllerstate != '1' && daily.centerControllerIcon == true,'icon-room-left-none': daily.centerControllerIcon == false,'icon-record_on-style': (daily.centerControllerstate == '1')||(daily.centerControllerIcon == false && daily.recordedBroadcaststate == '1')}" title="当前任务"></i><i style="font-size:63px;" ng-class="{'icon-room-right': daily.recordedBroadcastIcon == true,'icon-room-right-off': daily.recordedBroadcaststate != '1' && daily.recordedBroadcastIcon == true,'icon-room-right-none': daily.recordedBroadcastIcon == false,'icon-record_on-style': (daily.recordedBroadcaststate == '1')||(daily.recordedBroadcastIcon == false && daily.centerControllerstate == '1')}" title="当前任务"></i>
                            
                            <br/>
                            <div style="background-color: #8b8b8b;margin-top: 7px">
                                <input type="checkbox" ng-model="daily.checked" style="vertical-align:middle;margin-top:-1px;">
                                <span style="color: #fff;font-size:9px;" title="{{daily.name}}">{{daily.name}}</span>
                            </div>
                        </div>
                        <!--<span class="tooltipTest-content clearfix" style="opacity: 1;transform: translate3d(0,0,0);pointer-events: auto;">-->
                        <span class="tooltipTest-content clearfix" >
                            <div style="width: 320px;margin-top:12px;margin-bottom:12px;">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-1 padding-left-right-none">
                                        <!-- <span class="check-class"></span> -->
                                        <i class="icon-view_sche tooltipTest-img"></i>
                                        <a href="" class="tooltipTest-text" ng-click="setopenNewWindow('schedule', daily.id)">查看课表</a>
                                    </div>
                                    <div class="col-sm-3 padding-left-right-none" ng-if="daily.recordedBroadcaststate==='1'||daily.centerControllerstate==='1'">
                                    <!-- <span class="check-class"></span> -->
                                    	<i class="icon-view_disc tooltipTest-img"></i>
                                        <a href="" class="tooltipTest-text" ng-click="setopenNewWindow('resource', daily.id)" >本地资源</a>
                                    </div>
                                    <div class="col-sm-3 padding-left-right-none" ng-if="daily.recordedBroadcaststate==='1'||daily.centerControllerstate==='1'"> 
                                    <!-- <span class="check-class"></span> -->
                                    	<i class="icon-view_equi tooltipTest-img"></i>
                                    	<a class="tooltipTest-text" ng-click="openConsole(daily.ccmac||daily.remac,daily.cameraNum,daily.id,daily.curriculumId,daily.resourcefloder,daily.device[0].ip,daily.centerControllerstate,daily.recordedBroadcaststate)" >导播</a>
                                    </div>
                                    <hr class="col-sm-8 col-sm-offset-1 margin-top-5 margin-bottom-none">
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 padding-right-none text-right">
                                        <span style="font-size: 12px;color: darkgray">&nbsp;教室名称:</span>
                                    </div>
                                    <div class="col-sm-7" style="font-size: 12px;color: darkgray;padding-top:4px;" >
                                        <span class="font-overlay-2" title="{{daily.name}}" class="ng-binding">{{daily.name}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 padding-right-none text-right">
                                        <span style="font-size: 12px;color: darkgray">&nbsp;当前任务:</span>
                                    </div>
                                    <div class="col-sm-7 font-overlay-2" style="font-size: 12px;color: darkgray;padding-top:4px;" title="{{daily.username}}正在为 {{daily.deptName}} 上&lt;&lt;{{daily.subject}}&gt;&gt;">
                                        <span title="daily.name" class="ng-binding">{{daily.username}}</span>
                                        <span ng-show="daily.subject.length > 0">正在为 {{daily.deptName}} 上&lt;&lt;{{daily.subject}}&gt;&gt;</span>
                                        <span ng-show="daily.subject==null">无</span>
                                    </div>

                                </div>
                                <div class="row" ng-if="daily.recordedBroadcaststate==='1'||daily.centerControllerstate==='1'">
                                    <div class="col-sm-3 padding-right-none text-right">
                                        <span style="font-size: 12px;color: darkgray">&nbsp;{{daily.recordedBroadcaststate=='1'?'录播':'中控'}}剩余:</span>
                                    </div>
                                    <div class="col-sm-6">     
                                        <span style="font-size: 12px;color: darkgray" class="ng-binding">{{daily.deviRemain|number:0}}G</span>                                  
                                    </div>
                                </div>
                                <div class="row" ng-if="daily.recordedBroadcaststate==='1'||daily.centerControllerstate==='1'">
                                    <div class="col-sm-3 padding-right-none text-right">
                                        <span style="font-size: 12px;color: darkgray">&nbsp;设备状态:</span>
                                    </div>
                                    <div class="col-sm-6">     
                                        <span style="font-size: 12px;color: darkgray" class="ng-binding">在线</span>                                  
                                    </div>
                                </div>
                                <div class="row" ng-if="(daily.recordedBroadcaststate==='0'||!daily.recordedBroadcaststate)&&(daily.centerControllerstate==='0'||!daily.centerControllerstate)">
                                    <div class="col-sm-3 padding-right-none text-right">
                                        <span style="font-size: 12px;color: darkgray">&nbsp;设备状态:</span>
                                    </div>
                                    <div class="col-sm-6">     
                                        <span style="font-size: 12px;color: darkgray" class="ng-binding">离线</span>                                  
                                    </div>
                                </div>
                                <button ng-if="pagination.totalItems === 0" class="ondata">
                                    <span class="ondatatext">找不到您搜索的信息！</span>
                                </button>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
			<div ng-if="classroomlistinfo" >
                <table class="table table-striped" style="text-align:center">
                    <thead style="background-color: #ceecff;font-weight:bold">
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="checkAll" ng-click="checkAllDailyList()">
                            </td>
                            <td>
                                <label>教室名称</label>
                            </td>
                            <td>
                                <input type="radio" name="test" ng-click="checkselecte2()">
                                <label>录播机</label>
                            </td>
                            <td>
                                <input type="radio" name="test" ng-click="checkselecte1()">
                                <label>中控</label>
                            </td>
                            <td>
                                <!-- <input type="checkbox"> -->
                                <label>投影仪</label>
                            </td>
                            <td>
                                <!-- <input type="checkbox"> -->
                                <label>PC机</label>
                            </td>
                            <td>
                                <!-- <input type="checkbox"> -->
                                <label>电控锁</label>
                            </td>
                            <td>
                               <!--  <input type="checkbox"> -->
                                <label>音响</label>
                            </td>
                            <td>
                                <!-- <input type="checkbox"> -->
                                <label>IP电话</label>
                            </td>
                            <td>
                                <!-- <input type="checkbox"> -->
                                <label>面板</label>
                            </td>
                        </tr>
                    </thead>
                    <tr ng-repeat="classroomDevice in dailyList | filter:key">
                        <td>
                        	<input type="checkbox" class="btn btn-primary" ng-model="classroomDevice.checked"  style="margin-top:-2px; margin-right:5px;">
                        </td>
                        <td>
                        	<span style="font-size:13px;text-align:left;" title="{{classroomDevice.name}}">{{classroomDevice.name}}</span>
                        </td>
                        <td>
                            <i ng-class="{'gray-color':classroomDevice.recordedBroadcaststate == '0','icon-blue-color':classroomDevice.recordedBroadcaststate == '1','icon-lens':classroomDevice.recordedBroadcastIcon,'icon-remove':!classroomDevice.recordedBroadcastIcon}"></i>
                        </td>
                        <td>
                            <i ng-class="{'gray-color':classroomDevice.centerControllerstate == '0','icon-blue-color':classroomDevice.centerControllerstate == '1','icon-lens':classroomDevice.centerControllerIcon,'icon-remove':!classroomDevice.centerControllerIcon}"></i>
                        </td>
                        <td>
                            <i class="icon-lens " ng-class="{'gray-color':classroomDevice.CustomProjectorState == '0','icon-blue-color':classroomDevice.CustomProjectorState == '1'}"></i>
                        </td>
                        <td>
                            <i class="icon-lens " ng-class="{'gray-color':classroomDevice.CustomPcState == '0','icon-blue-color':classroomDevice.CustomPcState == '1'}"></i>
                        </td>
                        <td>
                            <i class="icon-lock-open"  ng-class="{'icon-lock-outline':classroomDevice.CustomLockState !=='1','icon-blue-color':classroomDevice.CustomLockState=='1','icon-lock-open':classroomDevice.CustomLockState=='1'}"></i>
                        </td>
                        <td>
                            <i class="" ng-class="{'icon-volume-off':classroomDevice.MicMute !== '0','icon-blue-color':classroomDevice.MicMute == '0','icon-volume-up':classroomDevice.MicMute == '0'}"></i>
                        </td>
                        <td>
                            <i class="icon-call-end" ng-class="{'gray-color':!classroomDevice.Record,'icon-blue-color':classroomDevice.Record}"></i>
                        </td>
                        <td>
                            <i class="icon-lens " ng-class="{'gray-color':classroomDevice.CustomPanelState == '0','icon-blue-color':classroomDevice.CustomPanelState == '1'}"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- <div class="panel-footer" style="padding-top:1px;padding-bottom:1px;">
            <div ng-if="pagination.totalItems > 0" class="row">
                <div class="col-xs-3" style="padding-top:8px;">
                    <span>共找到{{pagination.totalItems}}间教室，</span>
                                <span>每页显示
                                    <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>间
                                </span>
                </div>

                <div class="col-xs-7" ng-show="pagination.totalItems > pagination.pageSize">
                   
                    <pagination class="pagination-sm pull-right" total-items="pagination.totalItems"
                                page="pagination.pageIndex"
                                items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize"
                                previous-text="{{pagination.previousText}}"
                                next-text="{{pagination.nextText}}"
                                first-text="{{pagination.firstText}}"
                                last-text="{{pagination.lastText}}"
                                class="pagination-small"
                                boundary-links="true"
                                on-select-page="onSelectPage(page)">
                    </pagination>
                </div>
                <div class="col-xs-2" style="padding-top:8px;" ng-show="pagination.totalItems > pagination.pageSize">

                    <div class="input-group input-group-sm" style="width: 100px"
                         tooltip-placement="top" tooltip-popup-delay="1000" tooltip="跳转页面">
                        <input type="number" ng-model="pageIndex" class="form-control" min="1" max="{{pagesize}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="onSelectPage(pageIndex)">Go</button>
                                </span>
                    </div>
                </div>
            </div>
        </div> -->
        <!--<ul class="classrooms" style="display: -webkit-box">-->
        <!--<li ng-repeat="daily in dailyList">-->
        <!--<img src="{{daily.src}}">-->
        <!--</li>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house1.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house1.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house1.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house2.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house1.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house2.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<a href="" class="thumbnail">-->
        <!--<li>-->
        <!--<img src="assets/img/icon-house1.png">-->
        <!--</li>-->
        <!--</a>-->
        <!--<!--<li><img src="assets/img/icon-house2.png"></li>-->
        <!--<li><img src="assets/img/icon-house1.png"></li>-->
        <!--<li><img src="assets/img/icon-house2.png"></li>-->
        <!--<li><img src="assets/img/icon-house1.png"></li>-->
        <!--<li><img src="assets/img/icon-house1.png"></li>-->
        <!--<li><img src="assets/img/icon-house2.png"></li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<span>共17间教室</span>-->
    </div>
</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">

    <span ng-if="node.nodes && node.nodes.length > 0" style="margin-top: -8px;" class="button switch" ng-class="{'roots_close': collapsed, 'roots_open': !collapsed}" treenode_switch="" ng-click="toggle(this)"></span>
    <span ng-click="setActiveAreaTreeNode(node)" class="tree-node" ng-class="{'tree-node-active':node.id===activeAreaTreeNode.id}">
        <span ng-if="node.nodes && node.nodes.length > 0" class="button" ng-class="{'ico_close': collapsed, 'ico_open': !collapsed}"></span>
        <span ng-if="node.nodes && node.nodes.length === 0" class="glyphicon glyphicon-unchecked" style="vertical-align:middle;margin-top:-13px;"></span>
        <span title="{{node.title}}" style="max-width:calc(100% - 60px);text-overflow:ellipsis;overflow:hidden;display:inline-block;white-space:nowrap;">{{node.title}}</span>
    </span>
    <ol ui-tree-nodes="" ng-model="node.nodes" class="line" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node  collapsed="true" ng-include="'nodes_renderer.html'">
        </li>
    </ol>

</script>

<!--<script type="text/ng-template" id="nodes_renderer.html">-->
    <!--<div ui-tree-handle class="tree-node tree-node-content slideTree" ng-class="{'tree-node-active':node.id===activeAreaTreeNode.node.id}">-->
        <!--<a class="btn btn-xs">-->
            <!--<span ng-if="node.parentid === null" class="glyphicon" style="width:12px;height:12px">-->
                <!--<img src="assets/img/icon-house2.png" style="width:24px;height:24px;padding-bottom: 8px">-->
            <!--</span>-->
            <!--<!--<span ng-if="attribute :'Y'"---->
            <!--<span ng-if="!(node.nodes && node.nodes.length > 0)"-->
                  <!--class="glyphicon" style="width:12px;height:12px">-->
                <!--<img src="assets/img/icon-house1.png" style="width:24px;height:24px;padding-bottom: 8px;padding-right: 5px">-->
            <!--</span>-->
            <!--<span class="glyphicon" ng-if="node.nodes && node.nodes.length > 0"-->
                  <!--nodrag ng-click="toggle(this)"-->
                  <!--ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">-->
            <!--</span>-->
        <!--</a>-->
        <!--<span ng-click="setActiveAreaTreeNode(node)">{{node.title}}</span>-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">-->
        <!--<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">-->
        <!--</li>-->
    <!--</ol>-->
<!--</script>-->
</div>