<div class="modal-header ng-scope">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
    </button>
    <h3 class="modal-title">视频发布</h3>
</div>
<div class="modal-body ng-scope">
    <div>请选择你需要发布的视频</div>
    <div>高一数学之三角函数　　　　　　<input type="checkbox">资源<input type="checkbox" checked="checked">电影</div>
    <div class=" modal-body ng-scope"></div>
    <div>20140817东102-001　　　　　　 <input type="checkbox" checked="checked">资源<input type="checkbox">电影</div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：教师</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：学生</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：全景</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：教师全景</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：学生全景</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：VGA</a></div>
    <div>　　　<input type="checkbox">20140817东102-001　　　　　<a>机位：黑板</a></div>
    <div class=" modal-body ng-scope"></div>
    发布到：精品视频<select><option>语文</option><option>数学</option><option>英语</option></select>栏目下
</div>
<div class="modal-footer ng-scope"><button class="btn btn-default" ng-click="ok()">确认发布</button></div>