<style>
    .modal-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        background-clip: padding-box;
        outline: 0;
        width: 500px;
        margin: 0 auto;
    }
    .modal{
		overflow: hidden;
		overflow-y: hidden;
		right:inherit;
		top:15%;
		left:20%;
	}
	
	@media screen and (max-width: 1024px){    
	
		.modal {
			left: 0;
		}
	}
}
</style>

<div style="width: 96%;height:100%;min-height: 200px;margin: 0 auto;margin-top: 5px;margin-bottom: 22px;">
    <div style="padding: 20px;color: #71ADD1;font-family: '黑体';font-weight: bold;">
        <h4 style="color:black;">申请进入点播</h4>
    </div>
    <div style="font-size: 17px;color: #777476;font-family: '黑体';" ng-if="!statusFlag">
        <div ng-if="para == 'size'" style="margin-top: 9px;margin-left: 71px;">
           		 视频资源小于10M，点播被阻止！
            
        </div>
        <div ng-if="para == 'state'" style="margin-top: 9px;margin-left: 71px;">
           		 视频资源非播放状态，请开启或等待！
            
        </div>
        <!-- <div ng-if="para == '3'" style="margin-top: 9px;margin-left: 71px;">
                 队列已满，请等待！
            
        </div>
        <div ng-if="para == '4'" style="margin-top: 9px;margin-left: 71px;">
                 后台出问题，请联系管理员！
            
        </div> -->
        <div class="pull-right" style="margin-top: 45px;">
            <a href="" class="btn btn-default"
               style="color: #fff;width: 170px;margin-top: -10px;color: #8C8989;margin-left: 53px;margin-bottom: 5px;"
               ng-click="ok();">确认</a>
        </div>
    </div>

    
</div>