<div class="modal-header">
    <span class="modal-title" >
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
        </button>
        <h3>修改报警邮箱</h3>
    </span>
</div>
<div class="modal-body">
    <form class="form-inline" role="form" style="padding:8px">
        <div class="form-group">
            <input id="plan" class="form-control" placeholder="">
            <button class="btn btn-default"></button>
        </div>
        <ul>
            <li></li>
        </ul>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">保存修改</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>