<style>
	.model
</style>
<div>
    <div class="modal-header">
        <a href type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
        </a>
        <span class="modal-title">
            <h3>删除用户</h3>
        </span>
    </div>
    <div class="modal-body padding-top-10 padding-bottom-10">
        <h4><span style="color: #e80000">确认要删除以下用户吗?</span></h4>
        <div style="max-height:380px;overflow-y:auto;border:1px solid #ccc">
        	<div ng-repeat="deluser in deleteuser" style="font-size: 18px">{{deluser.name}}</div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()" focus-me="true">确认</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>