<div class="container-fluid padding-8" style="position: absolute;width: 100%;margin-top: -56px;z-index:1011;padding: 0;">
        <div class="row" style="padding-bottom: 8px;background-color: #e3e3e3;padding-top: 10px;margin-top: 0;">
            <div class="col-xs-2" style="font-size: 23px;margin-left: 8px">
                节次设置
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2 pull-right">
                <a class="close margin-right-20" href="#/scheduleManagements/edit"
                   tooltip-placement="top" tooltip-popup-delay="300" tooltip="返回">
                    <!--<span aria-hidden="true">&times;</span>返回-->
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>

            </div>
        </div>

        <div class="whiteframe" >
            <div class="padding-8 row" style="margin-left:8px">
                <button  class="btn btn-primary" ng-click="newScheme()"><span class="glyphicon glyphicon-plus"></span>添加节次方案</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body padding-0" style="min-height:400px">
                <table class="table table-striped" style="text-align:center">
                    <thead style="background-color: #ceecff;font-weight:bold">
                    <td>节次方案</td>
                    <td>有效期</td>
                    <td>节次</td>
                    <td>适用教室</td>
                    <td>操作</td>
                    </thead>
                    <tr style="text-align: center" ng-repeat="Classtime in ClasstimeList">
                        <td>{{Classtime.classtype}}</td>
                        <td>{{Classtime.datebegin}}至{{Classtime.dateend}}</td>
                        <td>{{Classtime.classsum}}</td>
                        <td>{{Classtime.areasum}}</td>
                        <td>
                            <button class="btn btn-link" ng-click="editScheme(Classtime)" tooltip-placement="top" tooltip-popup-delay="1000" tooltip="编辑">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-link" ng-click="applyto(Classtime)" tooltip-placement="top" tooltip-popup-delay="1000" tooltip="应用到">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <!--<img src="assets/img/lemon-pagess.png">-->
                            </button>
                            <button class="btn btn-link" ng-click="deleteClasstime(Classtime)" tooltip-placement="top" tooltip-popup-delay="1000" tooltip="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                <!--<div ng-if="pagination.totalItems === 0" style="margin-left: 320px;margin-top: 100px">
                    <a style="color: #f2f2f2;font-size: 32px;">没有查到任何相关的数据</a>
                </div>-->
                <button ng-if="pagination.totalItems === 0" class="ondata">
                    <span class="ondatatext">找不到您搜索的信息！</span>
                </button>
            </div>
            <div class="panel-footer">
                <div ng-if="pagination.totalItems > 0" class="row">

                    <div class="col-xs-3" style="padding-top:8px;">
                        <span>共找到{{pagination.totalItems}}条数据，</span>
                            <span>每页显示
                                    <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>条
                                </span>
                    </div>

                    <div class="col-xs-9" ng-show="pagination.totalItems > pagination.pageSize">
                        <div class="col-xs-9">
                            <pagination class="pagination-sm pull-right" total-items="pagination.totalItems"
                                        page="pagination.pageIndex"
                                        items-per-page="pagination.pageSize"
                                        max-size="pagination.maxSize"
                                        previous-text="{{pagination.previousText}}"
                                        next-text="{{pagination.nextText}}"
                                        first-text="{{pagination.firstText}}"
                                        last-text="{{pagination.lastText}}"
                                        class="pagination-small"
                                        boundary-links="true"
                                        on-select-page="onSelectPage(page)">
                            </pagination>
                        </div>
                        <div class="col-xs-3" style="padding-top:8px;">
                            <div class="input-group input-group-sm" style="width: 100px"
                                 tooltip-placement="top" tooltip-popup-delay="1000" tooltip="跳转页面">
                                <input type="number" ng-model="pageIndex" class="form-control" min="1" max="{{pagesize}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="onSelectPage(pageIndex)">Go</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="panel-footer">
            <div ng-if="pagination.totalItems !== 0">
                <span>共{{pagination.totalItems}}条记录</span>
                每页显示
                <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
                条
                <div style="float: right;margin-top: -32px" ng-show="ClasstimeList.length >= pagination.pageSize">
                    <pagination total-items="pagination.totalItems"
                                page="pagination.pageIndex"
                                items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize"
                                previous-text="{{pagination.previousText}}"
                                next-text="{{pagination.nextText}}"
                                first-text="{{pagination.firstText}}"
                                last-text="{{pagination.lastText}}"
                                class="pagination-small"
                                boundary-links="true"
                                on-select-page="onSelectPage(page)">
                    </pagination>
                    <form style="margin-top: 20px;" class="pull-right form-inline input-group-sm">
                        跳到<input style="width: 120px" class="form-control" type="number" ng-model="pageIndex" min="1" max="{{pagesize}}"/>页
                        <a class="btn btn-default" ng-click="onSelectPage(pageIndex)">Go</a>
                    </form>
                </div>
            </div>
                </div>-->
        </div>
</div>