<style>
.modal-body{
	max-height:455px;
	overflow-y:auto;
}
</style>
<div>
    <div class="modal-header">
        <a href type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
        </a>
        <span class="modal-title">
            <h3>取消授权</h3>
        </span>
    </div>
    <div class="modal-body">

        <div ng-if="impowers.length===1"><h4>确定要取消<b>{{impowers[0].loginname}}</b>的授权吗？</h4></div>
        <div ng-if="impowers.length>1">
            <h4><span style="color: #e80000">确定要取消以下位管理员的授权吗？</span></h4>
            <div>
                <div class="padding-8" style="font-size: 18px" ng-repeat="delimpower in impowers">
                    {{delimpower.loginname}}
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()" focus-me="true">确认</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>