<style>
    .setColor{
        background-color: #afebff;
    }
</style>

<div>
    <div class="modal-body text-center">
        <h4>确定
        <span ng-if="cardOperation == 'lose'">挂失</span>
        <span ng-if="cardOperation == 'delete'">删除</span>
                   此卡</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="reset" ng-click="save(cardOperation)" >确定</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>