<div class="iphone-hide container" style="margin-top:16px;padding-top:20px;">
    <div class="col-xs-12" ng-show="!domShow">
        <i class="deep-blue-color fontSize-30 icon-Word"></i>
        <span class="margin-left-10" style="font-size: 25px;font-weight:700;">中国近代史-太平天国运动</span>
        
    </div>
    <div class="col-xs-9" ng-class="{'activeDome':domShow}">
        <div class="col-xs-12 margin-top-15 margin-bottom-15" ng-show="!domShow">
            <span class="detail">
                <i class="icon-access-time yellow-color"></i>&nbsp;
                <span style="color: #aeaeae">2014-11-25 17:12:10</span>
                <span>
                    标签：<span style="background-color: #ffd996;border-radius: 3px">历史</span>
                    <span style="background-color: #ffd996;border-radius: 3px">名师</span>
                    <span style="background-color: #ffd996;border-radius: 3px">王老师</span>
                </span>
            </span>
            <span class="stars pull-right">
                <i class="icon-star yellow-color"></i>
                <i class="icon-star yellow-color"></i>
                <i class="icon-star yellow-color"></i>
                <i class="icon-star yellow-color"></i>
                <i class="icon-star gray-color"></i>
                <span style="margin:8px 0 0 16px;">4.0(27人)</span>
            </span>
        </div>
        <div class="col-xs-12 padding-left-right-none" style="margin-bottom:20px;">
            <span class="glyphicon glyphicon-resize-full" style="z-index: 2;position: absolute;right: 20px;font-size: 20px;margin-top: 10px;" ng-click="domShow=!domShow" ng-show="!domShow"></span>
            <img src="assets/img/lemon-pages-14.jpg" style="width:100%">
        </div>
        <div class="col-xs-12 padding-left-none" ng-show="!domShow">
            
            <!-- <div class="row margin-left-none">
                <div class="col-xs-4 padding-left-right-none"><img src="assets/img/lemon-pages-14.jpg" style="width:95%"></div>
                <div class="col-xs-4 padding-left-right-none"><img src="assets/img/lemon-pages-14.jpg" style="width:95%"></div>
                <div class="col-xs-4 padding-left-right-none"><img src="assets/img/lemon-pages-14.jpg" style="width:95%"></div>
            </div> -->
            <!-- <div class="col-xs-12 padding-left-none" style="margin-bottom:20px;">
                <img src="assets/img/lemon-pages-14.jpg" style="width:100%">
            </div> -->

            <div class="col-xs-12 padding-bottom-10" style="margin-top: 40px">
                <div class="col-xs-3" style="color: #5e5e5e;font-size: 24px">
                    <i class="icon-textsms"></i>
                    <span style="padding-left: 8px;">评论</span>
                </div>
                <div class="col-xs-4" style="color: #5e5e5e;padding-top: 8px">
                    <span>评分</span>
                    <span style="padding-left: 16px">
                        <i class="icon-star yellow-color"></i>
                        <i class="icon-star yellow-color"></i>
                        <i class="icon-star yellow-color"></i>
                        <i class="icon-star gray-color"></i>
                        <i class="icon-star gray-color"></i>
                    </span>
                </div>
                <div class="pull-right" style="padding-top: 16px">0/100</div>
            </div>
            <div class="col-xs-12">
                <input class="form-control" placeholder="说说你的感想吧...">
            </div>
            <div class="col-xs-12 padding-top-10">
                <div class="col-xs-4 padding-left-none"><input class="form-control" placeholder="账号"></div>
                <div class="col-xs-4"><input class="form-control" placeholder="密码"></div>
                <button class="btn btn-primary pull-right">登录并发表</button>
            </div>
            <div class="col-xs-12 padding-top-10 padding-bottom-10">
                <div style="background-color: #f2f2f2;margin-top: 64px;height: 40px">
                    <div class="col-xs-3" style="padding-top: 8px;font-size: 16px">全部评论(156)</div>
                    <!-- <div class="col-xs-9" style="margin-top: -15px">
                        <pagination
                                class="pagination-sm pull-right"
                                total-items="pagination.totalItems"
                                page="pagination.pageIndex"
                                items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize"
                                previous-text="{{pagination.previousText}}"
                                next-text="{{pagination.nextText}}"
                                first-text="{{pagination.firstText}}"
                                last-text="{{pagination.lastText}}"
                                class="pagination-small"
                                boundary-links="true"
                                on-select-page="onSelectPage(page)">
                        </pagination>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-12 padding-top-10 padding-bottom-10">
                <div class="col-xs-1">
                    <img src="assets/img/lemonade-elements-26.png">
                </div>
                <div class="col-xs-11  padding-bottom-10" style="border-bottom: solid 2px #f7f7f7">
                    <div class="col-sm-8">
                        <div><b>韩梅梅</b></div>
                        <div><span style="font-size: 15px">受益匪浅...</span></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <span style="margin-right: 40px">10分钟前</span>
                            <span>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star gray-color"></i>
                                <i class="icon-star gray-color"></i>
                            </span>
                            <div style="margin-left: 140px"><a href class="btn btn-link">回复</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-top-10 padding-bottom-10">
                <div class="col-xs-1">
                    <img src="assets/img/lemonade-elements-26.png">
                </div>
                <div class="col-xs-11  padding-bottom-10" style="border-bottom: solid 2px #f7f7f7">
                    <div class="col-sm-8">
                        <div><b>韩梅梅</b></div>
                        <div><span style="font-size: 15px">受益匪浅...</span></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <span style="margin-right: 40px">10分钟前</span>
                            <span>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star gray-color"></i>
                                <i class="icon-star gray-color"></i>
                            </span>
                            <div style="margin-left: 140px"><a href class="btn btn-link">回复</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-left-none" style="background:#f2f2f2;">
                        <div class="col-xs-12 padding-top-10" style="border-bottom:1px solid #ccc">
                            <div class="col-sm-10">
                                <div><b>李磊</b></div>
                                <div style="font-size: 15px">对，讲的很好</div>
                            </div>
                            <div class="col-sm-2">
                                <div>10分钟前</div>
                                <div><a href class="btn btn-link">回复</a></div>
                            </div>
                        </div>
                         <div class="col-xs-12 padding-top-10">
                            <div class="col-sm-10">
                                <div><b>韩梅梅</b></div>
                                <div style="font-size: 15px">恩恩</div>
                            </div>
                            <div class="col-sm-2">
                                <div>10分钟前</div>
                                <div><a href class="btn btn-link">回复</a></div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-top-10 padding-bottom-10">
                <div class="col-xs-1">
                    <img src="assets/img/lemonade-elements-26.png">
                </div>
                <div class="col-xs-11  padding-bottom-10" style="border-bottom: solid 2px #f7f7f7">
                    <div class="col-sm-8">
                        <div><b>李磊</b></div>
                        <div><span style="font-size: 15px">讲的非常不错</span></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <span style="margin-right: 40px">10分钟前</span>
                            <span>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star gray-color"></i>
                                <i class="icon-star gray-color"></i>
                            </span>
                            <div style="margin-left: 140px"><a href class="btn btn-link">回复</a></div>
                        </div>
                    </div>
                    <div  style="margin-top: 50px">
                        <div>
                            <input class="form-control" placeholder="回复李磊：">
                        </div>
                        <div class="pull-right">
                            0/100
                        </div>
                        <div class="form-inline" style="margin-top: 25px">
                            <div class="col-xs-4" style="margin-left: -16px"><input class="form-control" placeholder="账号"></div>
                            <div class="col-xs-6"><input class="form-control" placeholder="密码"></div>
                            <div class="col-xs-2"  style="margin-bottom: 16px"><a class="btn btn-primary">登录并发表</a></div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-xs-12 padding-top-10 padding-bottom-10">
                <div class="col-xs-1">
                     <img src="assets/img/lemonade-elements-28.png">
                </div>
                <div class="col-xs-11  padding-bottom-10" style="border-bottom: solid 2px #f7f7f7">
                    <div class="col-sm-8">
                        <div><b>刘玲</b></div>
                        <div><span style="font-size: 15px">有点听不懂</span></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <span style="margin-right: 40px">10分钟前</span>
                            <span>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star yellow-color"></i>
                                <i class="icon-star gray-color"></i>
                                <i class="icon-star gray-color"></i>
                            </span>
                            <div style="margin-left: 140px"><a href class="btn btn-link">回复</a></div>
                        </div>
                    </div>
                </div>
            </div> 
            <div>
                <pagination
                        class="pagination-sm pull-right"
                        total-items="pagination.totalItems"
                        page="pagination.pageIndex"
                        items-per-page="pagination.pageSize"
                        max-size="pagination.maxSize"
                        previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}"
                        first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}"
                        class="pagination-small"
                        boundary-links="true"
                        on-select-page="onSelectPage(page)">
                </pagination>
            </div>
        </div>
    </div> 
    
    <div class="col-xs-3 padding-left-right-none" ng-show="!domShow">
            <button class="col-xs-10 col-xs-offset-1 btn btn-default"><i class="icon-star blue-color"></i>&nbsp;资源已收藏</button>
            <button class="col-xs-10 col-xs-offset-1  btn btn-primary margin-top-10 margin-bottom-10"><i class=" icon-cloud-download2 "></i>&nbsp;资源已收藏</button>
            <div class="col-xs-12 padding-top-15 padding-bottom-15" style="background-color: #f2f2f2;">
                <div class="col-xs-12 padding-left-right-none" style="padding-bottom: 15px;font-size: 16px">
                   <b>主讲人：</b>
                </div>
                <div class="col-xs-3 padding-left-right-none">
                    <img src="assets/img/lemonade-elements-28.png" style="width:100%">
                </div>
                <div class="pull-right col-xs-9 padding-right-none">
                    <div style="font-size: 14px"><b>张萍</b></div>
                    <div style="font-size: 14px"><b>国家特级教师</b></div>
                </div>
                <div class="col-xs-12 padding-left-right-none padding-top-10">
                　　1949年10月生，安徽应县（现黄山市徽洲区）人，黄山学院教授，曾任
                    黄山学院副院长，兼安徽工程大学领导、省规划项目与社科院奖评审专家
                </div>
                
            </div>
            <div class="col-xs-12 padding-top-15 padding-bottom-15 margin-top-20" style="background-color: #f2f2f2;">
                <div class="col-xs-12 padding-left-right-none" style="padding-bottom: 15px;font-size: 16px">
                   <b>教学内容概述：</b>
                </div>
                <div class="col-xs-12 padding-left-right-none padding-top-10">
                　　太平天国（1851年－1864年）（太平天国应写作太平天-{囯}-，囗中王）是清朝后期的
                    一次由农民起义创建的农民政权。开始的标志是1851年金田起义，结束的标志是1864年
                    天京陷落，历时13年。这次起义开创了中国不少先河，例如中国农民起义第一次遭到中
                    外势力共同镇压、利用西方宗教发动起义等。领导人为洪秀全，称号为“天王”，首都称天京（即现南京）。
                </div>
            </div>
    </div>
    <div ng-show="domShow" class="footer col-xs-12" style="bottom: 0;background: #ccc;margin-top: -20px;padding-top: 13px;">
         <button class="col-xs-2 col-xs-offset-3 btn btn-default"><i class="icon-star blue-color"></i>&nbsp;资源已收藏</button>
         <button class="col-xs-2 col-xs-offset-1  btn btn-primary margin-bottom-10"><i class=" icon-cloud-download2 "></i>&nbsp;资源已收藏</button>
         <span class="glyphicon glyphicon-resize-small pull-right" style="font-size: 20px;" ng-click="domShow=!domShow"></span>

    </div>
</div>
<!-- <div class="pc-hide iphone-show">
    <div class="">
        <img src="assets/img/lemon-pages-14.jpg" style="width:100%">
    </div>
    <div class="">
        <ul id="myTab" class="nav nav-tabs margin-bottom-none" role="tablist">
          <li role="presentation" class="col-xs-4 active"><a href="#videoinfo-profile" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">信息</a></li>
          <li role="presentation" class="col-xs-4"><a href="#videocomment-profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">评论</a></li>
          <li role="presentation" class="col-xs-4"><a href="#videoothers-profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">相关</a></li>
        </ul>
        <div id="myTabContent" class="tab-content padding-top-none">
          <div role="tabpanel" class="tab-pane fade active in" id="videoinfo-profile" aria-labelledby="home-tab">
            <div class="container padding-left-right-none">
               <div class="col-xs-12 padding-bottom-15 padding-top-10" style="background-color:#e9f8f1">
                    <div class="col-xs-3 padding-left-right-none">
                        <img src="assets/img/lemonade-elements-28.png" style="width:80%">
                    </div>
                    <div class="pull-right col-xs-9 padding-right-none">
                        <div style="font-size: 14px;line-height:60px;"><b>张萍</b><b>国家特级教师</b></div>
                    </div>
                    <div class="col-xs-12 padding-left-right-none" style="font-size:12px;">
                    　　1949年10月生，安徽应县（现黄山市徽洲区）人，黄山学院教授，曾任
                        黄山学院副院长，兼安徽工程大学领导、省规划项目与社科院奖评审专家
                    </div>
                    
                </div>  
                <div class="col-xs-12 padding-bottom-15 padding-top-15" style="border-top:1px solid #ccc">
                    <div class="col-xs-12 padding-left-right-none" style="font-size:12px;">
                    　　太平天国（1851年－1864年）（太平天国应写作太平天-{囯}-，囗中王）是清朝后期的
                        一次由农民起义创建的农民政权。开始的标志是1851年金田起义，结束的标志是1864年
                        天京陷落，历时13年。这次起义开创了中国不少先河，例如中国农民起义第一次遭到中
                        外势力共同镇压、利用西方宗教发动起义等。领导人为洪秀全，称号为“天王”，首都称天京（即现南京）。
                    </div>
                </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="videocomment-profile" aria-labelledby="profile-tab">
            <div class="container">
                <div class="col-xs-12 padding-top-10 padding-bottom-10">
                    <div class="col-xs-1">
                        <img src="assets/img/lemonade-elements-26.png">
                    </div>
                    <div class="col-xs-11  padding-bottom-10" style="border-bottom: solid 2px #f7f7f7">
                        <div class="col-sm-8">
                            <div><b>韩梅梅</b></div>
                            <div><span style="font-size: 15px">受益匪浅...</span></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right">
                                <span style="margin-right: 40px">10分钟前</span>
                                <span>
                                    <i class="icon-star yellow-color"></i>
                                    <i class="icon-star yellow-color"></i>
                                    <i class="icon-star yellow-color"></i>
                                    <i class="icon-star gray-color"></i>
                                    <i class="icon-star gray-color"></i>
                                </span>
                                <div style="margin-left: 140px"><a href class="btn btn-link">回复</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="videoothers-profile" aria-labelledby="profile-tab">
            <div class="container" >
                
            </div>
          </div>
          
        </div>
    </div>
    
</div> -->


