<div>
    <div class="modal-header">
        <a href type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
        </a>
        <div class="modal-title">001教室录播机</div>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-striped">
                <th>
                <td>服务名称</td>
                <td>类型</td>
                <td>描述</td>
                <td>扩展信息</td>
                <td>状态</td>
                </th>
                <tr>
                    <td></td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                </tr>
                <tr>
                    <td></td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                    <td>wer</td>
                </tr>
             </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>