<link rel="stylesheet" href="assets/css/jquery.fileupload.css">
<link rel="stylesheet" href="assets/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="assets/css/train0703.css" />
<hr>
<!--<div class="polyPostion pull-right">全部消息</div>-->
<div>


    <ul>
        <li ng-repeat="user in users">{{user.userName}}<span ng-click="systemopen()" class="glyphicon glyphicon-exclamation-sign btn-link"></span></li>
    </ul>
    <ul>
        <img src="/assets/img/logo2.png">
    </ul>
	<!--<ng-upload-form url="/adb.do" auto-upload="true" size-limit="500000"></ng-upload-form>

    <a href="#" class="box">abc</a>
    <span class="click-btn">Click</span>-->


    <!--<paper-menu-button icon="menu" halign="left">
        <paper-item label="Menu Item 1">8888888888</paper-item>
        <paper-item label="Menu Item 2">7777777777</paper-item>
        <paper-item label="Menu Item 3">6666666666</paper-item>
    </paper-menu-button>-->

</div>
