<div class="resourcereleased">
	<div class="whiteframe">
	    <div style="padding:8px" class="row"> 
	    	<div class="col-xs-3">
                <button class="btn btn-primary" ng-click="classEvaluatModal('add','')">
                    <span class="glyphicon glyphicon-plus"></span>
                    新建评审表
                </button>
            </div>
            <div class="col-xs-2 pull-right">
	            <div class="input-group pull-right text-right" style="width:240px">
	                <input  type="text" ng-model="searchkey" class="form-control" placeholder="请输入活动名称">
	                <span class="input-group-btn">
	                        <button ng-click="GetclassEvaluationList(searchkey)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	                </span>
	            </div>
	        </div>
	    </div>
	<div>
    <!--<div class="formheader">-->
    <div class="panel panel-default">
        <div class="panel-body padding-0" style="min-height:467px">
            <table class="table table-striped" style="text-align: center">
                <thead class="formthead">
                	
	                <td>名称</td>
	                <td>创建时间</td>
	                <td>修改时间</td>
	                <td>使用次数</td>
	                <td>操作</td>            
                </thead>
                 <!--遍历数据-->
                <tr ng-repeat="evaluat in classEvaluationLists">
                	
                    <td>{{evaluat.name}}</td>
                    <td>{{evaluat.createtime}}</td>
                    <td>{{evaluat.modifytime}}</td>
                    <!-- <td>{{evaluat.modifydate}}</td> -->
                    <td>{{evaluat.usetimes}}</td>
                    <td>
	                	<i ng-click="classEvaluatModal('edit',$index)" class="icon-create fontSize-20 font-blue-color cursor-pointer"></i>
						<i ng-click="deleteclassEvaluatModal($index)" class="icon-delete fontSize-20 font-red-color cursor-pointer"></i>
	                </td>
                </tr>
            </table>

            <button ng-if="pagination.totalItems === 0" class="ondata">
                <span class="ondatatext">找不到您搜索的信息！</span>
                <!-- <a ng-href="#/resource/videoShow">test</a> -->
            </button>

            <!--<div ng-if="pagination.totalItems === 0" style="margin-left: 320px;margin-top: 400px">
                <a style="color: #f2f2f2;font-size: 32px;">没有查到任何相关的数据</a>
            </div>-->
        </div>

        <div class="panel-footer">

            <div ng-if="pagination.totalItems > 0" class="row">

                <div class="col-xs-3" style="padding-top:8px;">
                    <span>共{{pagination.totalItems}}条数据，</span>
                                <span>每页显示
                                    <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>条
                                </span>
                </div>

                <div class="col-xs-7" ng-show="pagination.totalItems > pagination.pageSize">
                    <!-- 分页  -->
                    <pagination class="pagination-sm pull-right" total-items="pagination.totalItems"
                                page="pagination.pageIndex"
                                items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize"
                                previous-text="{{pagination.previousText}}"
                                next-text="{{pagination.nextText}}"
                                first-text="{{pagination.firstText}}"
                                last-text="{{pagination.lastText}}"
                                class="pagination-small"
                                boundary-links="true"
                                on-select-page="onSelectPage(page)">
                    </pagination>
                </div>
                <div class="col-xs-2" style="padding-top:8px;" ng-show="pagination.totalItems > pagination.pageSize">
                    <div class="input-group input-group-sm" style="width: 100px"
                         tooltip-placement="top" tooltip-popup-delay="1000" tooltip="跳转页面">
                        <input type="number" ng-model="pageIndex" class="form-control" min="1" max="{{pagesize}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="onSelectPage(pageIndex)">
                                        Go
                                    </button>
                                </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>