<div class="container-fluid" style="overflow:hidden;">
    <div class="row" style="margin-top:16px;margin-bottom:100px;">
        <!--tree-->
        <div class="col-md-2" >
            <div class="whiteframe">
                <div style="padding-left: 8px" class="system-left-top font-overlay-1" title="{{activeArea.title}}" ng-if="activeArea.title"><i class="icon-swap-horiz" ng-click="toggleArea1()" style="color:#0071b7;font-size:30px;vertical-align: middle;cursor:pointer"></i>
                    <span>{{activeArea.title}}</span>
                </div>
                <div>
                    <div ui-tree id="tree1-root" data-drag-enabled="false">
                        <ol ui-tree-nodes id="tree1-nodes" ng-model="areaTree">
                            <li ng-repeat="node in areaTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--右边区域-->
        <div class="col-md-10 padding-left-none" >
            <div class="whiteframe">
                <div style="padding:8px;" class="row">
                    <div class="col-xs-5 padding-top-5" >
                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">&nbsp;直播课程
                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">&nbsp;录播课程
                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">&nbsp;有资源
                    </div>                   
                    <div class="col-xs-4 text-right padding-left-none pull-right">
                        <form class="form-inline" role="form">
                            <select class="form-control" style="width: 108px;"  ng-model="scheduletype" ng-change="class(scheduletype)">
                                <option value="">全部</option>
                                <option value="0">直播课</option>
                                <option value="1">录像课</option>
                                <option value="2">互动课</option>
                            </select>
                            <select class="form-control" style="width: 96px;" ng-model="schedule.weeks" ng-change="week(schedule)"
                                    ng-options="weeks.id as weeks.value for weeks in WeekTimeList">
                            </select>
                        </form>
                    </div>
                </div>

                <div>
                    <button ng-if="notnum" class="ondata" ng-click="NewClassTimeSet()">
                        <span class="ondatatext">该教室没有对应的<a>节次方案</a>！</span>
                    </button>
                </div>

                <table class="table1 table-bordered table-boderCo" id="rightContent-height">
                    <thead style="background-color: #c5e4fa;font-weight:bold">
                        <tr style="text-align: center">
                            <td></td>
                            <td ng-repeat="weekDay in schedules[0].weekly" style="color: #3a699e;"
                                ng-class="{'activeform':schedule.date === weekDay.classes[0].today}">
                                <div>星期{{weekDay.day}}</div>
                                <div>{{weekDay.classes[0].subtoday}}</div>
                            </td>
                        </tr>
                    </thead>
                    <tr ng-repeat="weeklySchedule in schedules" ng-class="{'schedule-line':smaxclass === '{{$index+1}}'}">
                        <td style="vertical-align: middle;text-align: center;WORD-WRAP: break-word">
                            <div ng-if="weeklySchedule.classIndex>0">第{{$index+1}}节
                                <div style="padding-top: 8px;color: #26a7db">{{weeklySchedule.weekly[0].classes[0].classstarttime}}至{{weeklySchedule.weekly[0].classes[0].classendtime}}</div>
                            </div>
                        </td>
                        <td ng-repeat="classDay in weeklySchedule.weekly" style="vertical-align: middle;text-align:center;WORD-WRAP: break-word" class="tooltipTest tooltipTest-effect-3"
                            ng-class="{'oldTimecolor':classDay.classes[0].today < schedule.date}">
                            <div>
                                <div ng-repeat="class in classDay.classes " style="text-align: left">
								<div ng-if="class.subject" class="tooltipTest-item-edit" style="float:right;">
                                    <a href ng-click="EditScheduleMessage(class,activeArea)" ng-if="classDay.classes[0].today > schedule.date" ng-mouseup="hidePopover()" class="btn btn-link"
                                       tooltip-placement="top" tooltip-popup-delay="1000" tooltip="编辑">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </div>
                                <div ng-if="showscheduletype===''" class="tooltipTest-item">
                                    <span ng-if="class.live==='1'">
                                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.record==='1'">
                                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.isresource==='1'">
                                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">
                                    </span>
                                    <ul ng-if="class.subject" class="scheduleWeekUl" style="list-style: none;padding-left: 0;">
                                        <li>
                                        	<span class="scheduleWeek" title="{{class.subject}}">{{class.subject}}</span>
                                        </li>
                                        <li class="scheduleWeek" style="color: #acacac;" title="{{class.deptname}}">{{class.deptname}}</li>
                                        <li>
                                        	<span class="scheduleWeek" style="color: #1197e5;" title="{{class.username}}">{{class.username}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="showscheduletype==='0'&&class.subject&&class.live==='1'" class="tooltipTest-item">
                                    <span ng-if="class.live==='1'">
                                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">
                                    </span>
                                    	<span ng-if="class.record==='1'">
                                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.isresource==='1'">
                                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">
                                    </span>
                                    <ul ng-if="class.subject" class="scheduleWeekUl" style="list-style: none;padding-left: 0;">
                                        <li>
                                        	<span class="scheduleWeek" title="{{class.subject}}">{{class.subject}}</span>
                                        </li>
                                        <li class="scheduleWeek" style="color: #acacac;" title="{{class.deptname}}">{{class.deptname}}</li>
                                        <li>
                                        	<span class="scheduleWeek" style="color: #1197e5;" title="{{class.username}}">{{class.username}}</span>
                                        </li>
                                    </ul>
                                </div>

                                <div ng-if="showscheduletype==='1'&&class.subject&&class.record==='1'" class="tooltipTest-item">
                                    <span ng-if="class.live==='1'">
                                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">
                                    </span>
                                    	<span ng-if="class.record==='1'">
                                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.isresource==='1'">
                                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">
                                    </span>
                                    <ul ng-if="class.subject" class="scheduleWeekUl" style="list-style: none;padding-left: 0">
                                        <li>
                                        	<span class="scheduleWeek" title="{{class.subject}}">{{class.subject}}</span>
                                        </li>
                                        <li class="scheduleWeek" style="color: #acacac;" title="{{class.deptname}}">{{class.deptname}}</li>
                                        <li>
                                        	<span class="scheduleWeek" style="color: #1197e5;" title="{{class.username}}">{{class.username}}</span>
                                        </li>
                                    </ul>
                                </div>
								
                                <div ng-if="showscheduletype==='2'&&class.subject&&class.isresource==='1'" class="tooltipTest-item">
                                    <span ng-if="class.live==='1'">
                                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">
                                    </span>
                                    <span ng-if="class.record==='1'">
                                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">
                                    </span>
                                    <span ng-if="class.isresource==='1'">
                                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">
                                    </span>
                                    <ul ng-if="class.subject" class="scheduleWeekUl" style="list-style: none;padding-left: 0">
                                        <li>
                                        	<span class="scheduleWeek" title="{{class.subject}}">{{class.subject}}</span>
                                        </li>
                                        <li class="scheduleWeek" style="color: #acacac;" title="{{class.deptname}}">{{class.deptname}}</li>
                                        <li>
                                        	<span class="scheduleWeek" style="color: #1197e5;" title="{{class.username}}">{{class.username}}</span>
                                        </li>
                                    </ul>
                                </div>
								
                                <div ng-if="class.showstatus === '0' && !class.subject" class="mouseOverdo" class="tooltipTest-item">
                                    <button class="btn btn-link"  ng-click="AddScheduleModal(schedule,activeArea,classDay,weeklySchedule)">
                                        <img src="assets/img/lemon-elements-add.png">新建
                                    </button>
                                </div>
								<!-- <div style="float:right;margin-left: 40px">
                                    <a href ng-click="EditScheduleMessage(class,activeArea)" ng-if="classDay.classes[0].today > schedule.date" ng-mouseup="hidePopover()" class="btn btn-link"
                                       tooltip-placement="top" tooltip-popup-delay="1000" tooltip="编辑">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </div> -->
                                <!-- <div class="tooltipTest-content popover-content" ng-if="class.subject">
                                    <ul style="list-style: none;margin-left: -40px">
                                        <li style="border-bottom: solid 1px #f2f2f2;margin-bottom: 8px"><b>{{class.subject}}</b></li>
                                        <li style="border-bottom: solid 1px #f2f2f2;margin-bottom: 8px;color: #acacac">{{class.deptname}}</li>
                                        <li style="color: #1197e5">{{class.username}}</li>
                                    </ul>
                                    <span ng-if="class.live==='1'">
                                        <img src="assets/img/lemon-elements-14.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.record==='1'">
                                        <img src="assets/img/lemon-elements-16.png" style="width: 10px;height: 10px">
                                    </span><span ng-if="class.isresource==='1'">
                                        <img src="assets/img/lemon-elements-15.png" style="width: 10px;height: 10px">
                                    </span>
                                    
                                </div> -->

                               </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">

    <span ng-if="node.nodes && node.nodes.length > 0" style="margin-top: -8px;" class="button switch" ng-class="{'roots_close': collapsed, 'roots_open': !collapsed}" treenode_switch="" ng-click="toggle(this)"></span>
    <span ng-click="setActiveArea(node,pagination)" class="tree-node" ng-class="{'tree-node-active':node.id===activeArea.id}">
        <span ng-if="node.nodes && node.nodes.length > 0" class="button" ng-class="{'ico_close': collapsed, 'ico_open': !collapsed}"></span>
        <span ng-if="node.nodes && node.nodes.length === 0" class="glyphicon glyphicon-unchecked" style="vertical-align:middle;margin-top:-13px;"></span>
        <span title="{{node.title}}" style="max-width:calc(100% - 60px);text-overflow:ellipsis;overflow:hidden;display:inline-block;white-space:nowrap;">{{node.title}}</span>
    </span>
    <ol ui-tree-nodes="" ng-model="node.nodes" class="line" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node collapsed="true" ng-include="'nodes_renderer.html'">
        </li>
    </ol>

</script>


<!--<script type="text/ng-template" id="nodes_renderer.html">-->
    <!--<div ui-tree-handle class="tree-node tree-node-content slideTree" ng-class="{'tree-node-active':node.id===activeArea.id}">-->
        <!--<a class="btn btn-xs">-->
        <!--<span ng-if="node.parentid === null" class="glyphicon" style="width:12px;height:12px">-->
            <!--<img src="assets/img/icon-house2.png" style="width:24px;height:24px;padding-bottom: 8px">-->
        <!--</span>-->
        <!--<span ng-if="!(node.nodes && node.nodes.length > 0)" class="glyphicon" style="width:12px;height:12px">-->
            <!--<img src="assets/img/icon-house1.png" style="width:24px;height:24px;padding-bottom: 8px;padding-right: 5px">-->
        <!--</span>-->
        <!--<span class="glyphicon" ng-if="node.nodes && node.nodes.length > 0"-->
              <!--nodrag ng-click="toggle(this)"-->
              <!--ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">-->
        <!--</span>-->
        <!--</a>-->
        <!--<span ng-click="setActiveArea(node,pagination)">{{node.title}}</span>-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">-->
        <!--<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">-->
        <!--</li>-->
    <!--</ol>-->
<!--</script>-->