<div class="container-fluid">
    <div class="row" style="margin-top:16px">

        <div class="col-xs-2">
            <div class="whiteframe">
                <div class="system-left-top font-overlay-1" title="{{areaTree[0].title}}" ng-if="!activeArea.title">
                	<i class="icon-swap-horiz" ng-click="toggleArea1()" style="color:#0071b7;font-size:30px;vertical-align: middle;cursor:pointer"></i>
                    <span>{{areaTree[0].title}}</span>
                 </div>
                <div class="system-left-top font-overlay-1" title="{{activeArea.title}}" ng-if="activeArea.title">
                	<i class="icon-swap-horiz" ng-click="toggleArea1()" style="color:#0071b7;font-size:30px;vertical-align: middle;cursor:pointer"></i>
                   	<span>{{activeArea.title}}</span>
                </div>
                <div>
                    <div ui-tree id="tree-root" data-drag-enabled="false">
                        <ol ui-tree-nodes ng-model="areaTree">
                            <li ng-repeat="node in areaTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
<!--右边区域-->
        <div class="col-xs-10">
            <div class="whiteframe" style="margin-left:-16px">
                <div class="row padding-8">
                    <!-- <div class="col-xs-3"></div> -->
                    <div class="col-xs-3 col-xs-offset-7">
                        <div class="input-group" style="width:240px" ng-show="hideAdvancedSearch">
                             <input type="text" class="form-control" placeholder="请输入教室名称" ng-model="live.areaname">
                             <span class="input-group-btn">
                               <button class="btn btn-default" type="button" ng-click="searchlives('1')"><span class="glyphicon glyphicon-search"></span></button>
                             </span>
                        </div>
                    </div>
                    <div class="col-xs-2 text-right">
                          <button ng-show="hideAdvancedSearch===true" class="btn btn-link padding-right-none" ng-click="hideAdvancedSearch=!hideAdvancedSearch">详细查询<span class="glyphicon glyphicon-chevron-down"></span></button>
                          <button ng-show="hideAdvancedSearch!==true" class="btn btn-link padding-right-none" ng-click="hideAdvancedSearch=!hideAdvancedSearch">简单查询<span class="glyphicon glyphicon-chevron-up"></span></button>
                     
                    </div>
             </div>
            <div collapse="hideAdvancedSearch" class="advSearchPanel">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="form-label" style="width: 88px" for="liveName">直播时间</label>
                        <input type="date" id="liveName" class="form-control" datepicker2 ng-model="live.startdate" />
                        <label style="width: 88px">至</label>
                        <input type="date" class="form-control" datepicker2 ng-model="live.enddate" />
                    </div>

                    <div class="form-group">
                        <label class="form-label" style="width: 88px" for="liveName4">星期</label>
                        <select id="liveName4" class="form-control" ng-model="live.weekdate">
                            <option value="">全部</option>
                            <option value="1">星期一</option>
                            <option value="2">星期二</option>
                            <option value="3">星期三</option>
                            <option value="4">星期四</option>
                            <option value="5">星期五</option>
                            <option value="6">星期六</option>
                            <option value="7">星期日</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" style="width: 88px" for="liveName5">节次</label>
                        <select id="liveName5" class="form-control" ng-model="live.classnum">
                            <option value="">全部</option>
                            <option value="1">第一节</option>
                            <option value="2">第二节</option>
                            <option value="3">第三节</option>
                            <option value="4">第四节</option>
                            <option value="5">第五节</option>
                            <option value="6">第六节</option>
                            <option value="7">第七节</option>
                            <option value="8">第八节</option>
                            <option value="9">第九节</option>
                            <option value="10">第十节</option>
                            <option value="11">第十一节</option>
                            <option value="12">第十二节</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" style="width: 88px" for="liveName2">课程名称</label>
                        <input id="liveName2" class="form-control" placeholder="课程名称" ng-model="live.subject">
                    </div>

                    <div class="form-group">
                        <label class="form-label" style="width: 88px" for="liveName3">教师名称</label>
                        <input id="liveName3" class="form-control" placeholder="教师名称" ng-model="live.username">
                    </div>

                    <button class="btn btn-primary pull-right" ng-click="searchlives('1')">
                        <span class="glyphicon glyphicon-search"></span>
                        查询</button>

                </form>
            </div>
    <!--<div style="margin-left: 880px;margin-bottom: 8px;">-->
        <!--<a class="btn btn-primary" href="/#/termSet">学期设置</a>-->
    <!--</div>-->
    <!--<div class="formheader">-->
    <div class="panel panel-default">
        <div class="panel-body padding-0" id="rightContent-height">
        <table class="table table-striped">
            <thead class="formthead">
                <tr style="text-align: center">
                <td style="WORD-WRAP: break-word" width="120">
                <span>直播日期</span>
                            	<span>
                                    <a href ng-show="sort.date == 'asc'" ng-click="orderby('date')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.date == 'desc'" ng-click="orderby('date')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="80">
                <span>星期</span>
                            	<span>
                                    <a href ng-show="sort.weekdate == 'asc'" ng-click="orderby('weekdate')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.weekdate == 'desc'" ng-click="orderby('weekdate')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="80">
                <span>节次</span>
                            	<span>
                                    <a href ng-show="sort.sameclass == 'asc'" ng-click="orderby('sameclass')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.sameclass == 'desc'" ng-click="orderby('sameclass')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="156">
                <span>教室</span>
                            	<span>
                                    <a href ng-show="sort.areaname == 'asc'" ng-click="orderby('areaname')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.areaname == 'desc'" ng-click="orderby('areaname')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="80">
                <span>教师</span>
                            	<span>
                                    <a href ng-show="sort.username == 'asc'" ng-click="orderby('username')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.username == 'desc'" ng-click="orderby('username')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="156">
                <span>课程</span>
                            	<span>
                                    <a href ng-show="sort.subject == 'asc'" ng-click="orderby('subject')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="升序"
                                            class="btn-link glyphicon glyphicon-chevron-up">
                                    </a>
                                    <a href ng-show="sort.subject == 'desc'" ng-click="orderby('subject')"
                                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="降序"
                                            class="btn-link glyphicon glyphicon-chevron-down">
                                    </a>
                                </span>
                </td>
                <td style="WORD-WRAP: break-word" width="80">状态</td>
                <!-- <td style="WORD-WRAP: break-word" width="100">教室状态</td> -->
                <td style="WORD-WRAP: break-word" width="156">操作</td>
                </tr>
            </thead>
            <tr ng-repeat="live in liveList" style="text-align: center">
                <td>{{live.date}}</td>
                <td>{{live.weekdate}}</td>
                <td>{{live.sameclass}}</td>
                <td>{{live.areaname}}</td>
                <td>{{live.username}}</td>
                <td>{{live.subject}}</td>
                <td>{{live.state}}</td>
                <!-- <td>{{live.areastate}}</td> -->
                <td style="white-space:nowrap;">
                    <span ng-if="live.state==='在线'">
                        <button class="btn btn-link" ng-click="openConsole()"
                                tooltip-placement="top" tooltip-popup-delay="1000" tooltip="进入导播间">
                            <span class="glyphicon glyphicon-expand"></span>
                        </button>
                    </span>
                    <span ng-if="live.state==='未开始'">
                        <button class="btn btn-link" ng-click="cancelLive(live)"
                                tooltip-placement="top" tooltip-popup-delay="1000" tooltip="取消直播">
                            <span class="glyphicon glyphicon-share"></span>
                            </button>
                    </span>
                    <button class="btn btn-link" ng-click="openSetupModal(live)"
                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="编辑">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-link" ng-click="openDeleteModal(live)"
                            tooltip-placement="top" tooltip-popup-delay="1000" tooltip="删除">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
        <button ng-if="pagination.totalItems === 0" class="ondata">
            <span ng-if="!getDataReady" class="ondatatext">数据正在加载，请稍等...</span>
            <span ng-if="getDataReady" class="ondatatext">找不到您搜索的信息！</span>
        </button>
    </div>
        <div class="panel-footer" style="padding-top:1px;padding-bottom:1px;">

            <!-- <div ng-if="pagination.totalItems > 0" class="row"> -->
            <div class="row">

                <div class="col-xs-3 padding-right-none" style="padding-top:8px;">
                    <span>共{{pagination.totalItems}}条数据，</span>
                        <span>每页
                            <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>条
                        </span>
                </div>

                <div class="col-xs-9 padding-left-right-none" ng-show="pagination.totalItems > pagination.pageSize">
                    <div class="col-xs-10 padding-left-right-none">
                        <!-- 分页  -->
                        <pagination class="pagination-sm pull-right" total-items="pagination.totalItems"
                                    page="pagination.pageIndex"
                                    items-per-page="pagination.pageSize"
                                    max-size="pagination.maxSize"
                                    previous-text="{{pagination.previousText}}"
                                    next-text="{{pagination.nextText}}"
                                    first-text="{{pagination.firstText}}"
                                    last-text="{{pagination.lastText}}"
                                    class="pagination-small"
                                    boundary-links="true"
                                    on-select-page="onSelectPage(page)">
                        </pagination>
                    </div>
                    <div class="col-xs-2" style="padding-top:8px;">

                        <div class="input-group input-group-sm" style="width: 88px"
                             tooltip-placement="top" tooltip-popup-delay="1000" tooltip="跳转页面">
                            <input type="number" ng-model="pageIndex" class="form-control" min="1" max="{{pagesize}}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="onSelectPage(pageIndex)">
                                    Go
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       </div>
</div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">

    <span ng-if="node.nodes && node.nodes.length > 0" style="margin-top: -8px;" class="button switch" ng-class="{'roots_close': collapsed, 'roots_open': !collapsed}" treenode_switch="" ng-click="toggle(this)"></span>
    <span ng-click="setActiveArea(node,pagination)" class="tree-node" ng-class="{'tree-node-active':node.id===activeArea.id}">
        <span ng-if="node.nodes && node.nodes.length > 0" class="button" ng-class="{'ico_close': collapsed, 'ico_open': !collapsed}"></span>
        <span ng-if="node.nodes && node.nodes.length === 0" class="glyphicon glyphicon-unchecked" style="vertical-align:middle;margin-top:-13px;"></span>
        <span title="{{node.title}}" style="max-width:calc(100% - 60px);text-overflow:ellipsis;overflow:hidden;display:inline-block;white-space:nowrap;">{{node.title}}</span>
    </span>
    <ol ui-tree-nodes="" ng-model="node.nodes" class="line" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node collapsed="true" ng-include="'nodes_renderer.html'">
        </li>
    </ol>

</script>

<!--<script type="text/ng-template" id="nodes_renderer.html">-->
    <!--<div ui-tree-handle class="tree-node tree-node-content slideTree" ng-class="{'tree-node-active':node.id===activeArea.id}">-->
        <!--<a class="btn btn-xs">-->
        <!--<span ng-if="node.parentid === null" class="glyphicon" style="width:12px;height:12px">-->
            <!--<img src="assets/img/icon-house2.png" style="width:24px;height:24px;padding-bottom: 8px">-->
        <!--</span>-->
            <!--&lt;!&ndash;<span ng-if="attribute :'Y'"&ndash;&gt;-->
        <!--<span ng-if="!(node.nodes && node.nodes.length > 0)"-->
              <!--class="glyphicon" style="width:12px;height:12px">-->
            <!--<img src="assets/img/icon-house1.png" style="width:24px;height:24px;padding-bottom: 8px;padding-right: 5px">-->
        <!--</span>-->
        <!--<span class="glyphicon" ng-if="node.nodes && node.nodes.length > 0"-->
              <!--nodrag ng-click="toggle(this)"-->
              <!--ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">-->
        <!--</span>-->
        <!--</a>-->
        <!--<span ng-click="setActiveArea(node,pagination)">{{node.title}}</span>-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">-->
        <!--<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">-->
        <!--</li>-->
    <!--</ol>-->
<!--</script>-->