<style>
    .setColor{
        background-color: #afebff;
    }
    .setColorUser{
        background-color: #afebff;
    }
    .setColorClass{
        background-color: #afebff;
    }
    .dropdown-menu{
    	width:255px;
    	max-height: 290px;
		overflow-y: auto;
    }
</style>


<div>
    <div class="modal-header">
        <span class="modal-title" >
            <a href type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
            </a>
            <h3>编辑课表</h3>
        </span>
    </div>
    <div class="modal-body" style="max-height:424px; overflow:auto">
        <form class="form-horizontal" name="frmEditSchedule" role="form">
            <div class="row">
                <div class="col-xs-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">课程信息</div>
                        <div class="panel-body">

                        <div class="alert alert-warning" role="alert">如果节次方案不完整，可能影响课表编辑</div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="areaname">教室</label>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <input class="form-control"
                                               ng-click="searchClassname('areaname',schedule.areaname);toggleTree('')"
                                               id="areaname"
                                               placeholder="请选择教室"
                                               ng-model="schedule.areaname"
                                               typeahead-loading="loading..."
                                               ng-blur="checkAutoMessage('areaname', schedule);"
                                               typeahead="classname.id + ',' + classname.value + ','+ classname.innerid as classname.innerid + '-' + classname.value for classname in searchClassname('areaname',$viewValue)"
                                               typeahead-wait-ms="500"
                                               typeahead-on-select="selectClassname(schedule.areaname);toggleTree('ImmediatelyClose')"
                                               ng-disabled = "{{nodetemp.temp != 'hideOrganTree'}}">
                                        <span class="input-group-addon" ng-click="searchClassname('areaname',schedule.areaname);toggleTree('')" ng-mouseover="showClassTimePopup()">
                                            <i ng-if="showClassroomTimeError" class="glyphicon glyphicon-th" popup-placement="right" popup-auto-show="ClassTimePopupIsShown" popup-show="classTimePopup.html"></i>
                                        </span>
                                    </div>
                                    <div collapse="hideTree" class="dropdown-tree-wrapper">
                                        <div style="cursor: pointer;list-style-type: none;"
                                             ng-repeat="typeValue in searchimpowerList"
                                             ng-class="{'setColor' : typeValue.getColor}"
                                             ng-click="setautoMessageValue('areaname', schedule, typeValue);setColor(typeValue)">
                                            <span style="margin-left: 15px;">{{typeValue.value}}</span>
                                        </div>
                                    </div>
                                    <span ng-show="frmEditSchedule.areaname.$error.required">
                                        <div style="color: red">必须输入教室</div>
                                    </span>

                                </div>
                            </div>

                            <script type="text/ng-template" id="classTimePopup.html">
                                <h3 class="popover-title">节次方案
                                    <button type="button" class="close" ng-click="hidePopover()" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                    </button>
                                </h3>


                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr style="text-align: center">
                                            <td>方案名称</td>
                                            <td>有效日期</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr style="text-align: center">
                                            <td>{{ClassroomTimeList.classtype}}</td>
                                            <td>{{ClassroomTimeList.datebegin}}至{{ClassroomTimeList.dateend}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </script>

                            <div class="alert alert-danger" role="alert" ng-show="!showClassroomTimeError">
                                该教室无节次方案, <a href ng-click="NewClassTimeSet()">立即设置</a>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="weeks">开课周</label>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <input id="weeks" class="form-control" ng-model="schedule.weeks" disabled>
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <!-- <i class="glyphicon glyphicon-calendar" ng-click="item.week=!item.week"></i> -->
                                        </span>
                                    </div>

                                    <div collapse="!item.week" class="selectweek">
                                        <div style="padding:8px;font-size:16px">选择周
                                            <button type="button" class="close" ng-click="item.week=!item.week" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                            </button>
                                        </div>
                                        <a class="btn btn-default" style="margin: 4px" ng-click="getWeek($index,week,checkFlag)"
                                           ng-class="{'changeColor':Weeksselct[{{$index}}].id === week.id}" ng-repeat="week in WeeksList">
                                            {{week.value}}
                                        </a>
                                        <div style="margin-left: 36px">
                                            <a class="btn btn-primary" ng-click="submit()" ng-mouseup="item.week=!item.week">确定</a>
                                            <a class="btn btn-default" ng-click="weekCancel()">重置</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="weekdate">星期</label>
                                <div class="col-xs-9">
                                    <select id="weekdate" class="form-control" ng-model="schedule.weekdate" required disabled>
                                        <option value="1">星期一</option>
                                        <option value="2">星期二</option>
                                        <option value="3">星期三</option>
                                        <option value="4">星期四</option>
                                        <option value="5">星期五</option>
                                        <option value="6">星期六</option>
                                        <option value="7">星期日</option>
                                    </select>
                                </div>　
                            </div>


                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="startclasstime">节次</label>
                                <div class="col-xs-4">
                                    <select id="startclasstime" class="form-control" ng-model="schedule.startclasstime" ng-change="CompareClassTime()"
                                            ng-options="classTime.id as classTime.value for classTime in classTimeList" required disabled="">
                                    </select>
                                </div>
                                <div class="col-xs-1">
                                    至
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" ng-model="schedule.endclasstime" ng-change="CompareClassTime()"
                                            ng-options="classTime.id as classTime.value for classTime in classTimeList" required disabled>
                                    </select>
                                </div>
                                <span ng-show="showErrorClassTime">
                                    <div style="color: red;margin-left: 110px">节次的结束时间不能大于开始时间</div>
                                </span>
                            </div>



                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="username">教师</label>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <input id="username"
                                               ng-click="searchTeacher('username',schedule.username)"
                                               class="form-control"
                                               placeholder="请选择授课老师"
                                               ng-model="schedule.username"
                                               typeahead-loading="loading..."
                                               ng-blur="checkAutoMessageUser('username', schedule);"
                                               typeahead="teacher.id +','+ teacher.name as teacher.loginname +'-'+ teacher.name for teacher in searchTeacher('username',$viewValue)"
                                               typeahead-wait-ms="500"
                                               typeahead-on-select="selectTeacher();toggleTreeUser('ImmediatelyCloseUser')"
                                               required>
                                        <span class="input-group-addon" ng-click="searchTeacher('username',schedule.username);toggleTreeUser('')">
                                            <i class="glyphicon glyphicon-th" popup-placement="right" popup-auto-show="ClassTimePopupIsShown"></i>
                                        </span>
                                    </div>
                                    <div collapse="hideTreeUser" class="dropdown-tree-wrapper">
                                        <div style="cursor: pointer;list-style-type: none;"
                                             ng-repeat="typeValueUser in searchUserList"
                                             ng-class="{'setColorUser' : typeValueUser.getColor}"
                                             ng-click="setautoMessageValueUser('username', schedule, typeValueUser);setColorUser(typeValue)">
                                            <span style="margin-left: 15px;">{{typeValueUser.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span ng-show="frmAreaEditor.username.$error.required">
                                <div style="color: red">必须输入教师</div>
                            </span>

                            <div class="form-group" style="margin-top: -16px">
                                <label class="col-xs-3 control-label" style="padding-top: 24px" for="subject">课程名</label>
                                <div class="col-xs-9">
                                    　　<input id="subject" class="form-control" placeholder="课程名" style="width: 224px" ng-model="schedule.subject" required>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: -16px">
                                <label class="col-xs-3 control-label" style="padding-top: 24px" for="theme">主题项</label>
                                <div class="col-xs-6">
                                    　　<input id="theme" class="form-control" placeholder="主题项" style="width: 224px" ng-model="schedule.subjectattribute" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="deptname">班级</label>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <input id="deptname"
                                               ng-click="searchClass('classname',schedule.deptname);toggleTreeClass('')"
                                               class="form-control"
                                               placeholder="请选择班级"
                                               ng-model="schedule.deptname"
                                               typeahead-loading="loading..."
                                               ng-blur="checkAutoMessageClass('classname', schedule);"
                                               typeahead="classroom.id +','+ classroom.name as classroom.code +'-'+ classroom.name for classroom in searchClass('classname',$viewValue)"
                                               typeahead-wait-ms="500"
                                               typeahead-on-select="selectClass();toggleTreeUser('ImmediatelyCloseClass')" require ng-disabled = "{{nodetemp.temp == 'hideOrganTree'}}"
                                               >
                                        <span class="input-group-addon" ng-click="searchClass('classname',schedule.deptname);toggleTreeClass('')">
                                            <i class="glyphicon glyphicon-th" popup-placement="right" popup-auto-show="ClassTimePopupIsShown"></i>
                                        </span>
                                    </div>
                                    <div collapse="hideTreeClass" class="dropdown-tree-wrapper">
                                        <div style="cursor: pointer;list-style-type: none;"
                                             ng-repeat="typeValueClass in searchClassList"
                                             ng-class="{'setColorClass' : typeValueClass.getColor}"
                                             ng-click="setautoMessageValueClass('classname', schedule, typeValueClass);setColorClass(typeValueClass)">
                                            <span style="margin-left: 15px;">{{typeValueClass.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-5 padding-right-none">
                    <div class="panel panel-default">
                        <div class="panel-heading">课程属性</div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="areaname">直播</label>
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="schedule.live" btn-radio="'1'">是</label>
                                        <label class="btn btn-default" ng-model="schedule.live" btn-radio="'0'">否</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 padding-left-none control-label">录像</label>
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="schedule.record" btn-radio="'1'">是</label>
                                        <label class="btn btn-default" ng-model="schedule.record" btn-radio="'0'">否</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" collapse="schedule.record==='0'">
                                <label class="col-xs-4 control-label padding-left-none" style="white-space: nowrap;">录像模式</label>
                                <div class="col-xs-8 padding-right-none">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-repeat="schema in schemaList"
                                               ng-model="schedule.video" btn-radio="'{{schema.value}}'">{{schema.name}}</label>
                                    </div>
                                </div>
                            </div>
							<div class="form-group margin-bottom-8" collapse="schedule.record==='0'">
				                <label class="col-xs-4 control-label padding-left-none" style="white-space: nowrap;">直播模式</label>
				                <div class="col-xs-8 padding-right-none">
				                    <div class="btn-group">
				                        <label class="btn btn-default" ng-repeat="livemodel in livemodelList" ng-model="schedule.livemodel" btn-radio="'{{livemodel.value}}'"
				                               >{{livemodel.name}}</label>
				                    </div>
				                </div>
				            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label padding-left-none" style="white-space: nowrap;">课间录像</label>
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="schedule.classniddlerecord" btn-radio="'1'">是</label>
                                        <label class="btn btn-default" ng-model="schedule.classniddlerecord" btn-radio="'0'">否</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label padding-left-none" style="white-space: nowrap;">互动课程</label>
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="schedule.intercourse" btn-radio="'1'">是</label>
                                        <label class="btn btn-default" ng-model="schedule.intercourse" btn-radio="'0'">否</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" collapse="schedule.record==='0'">
                                <label class="col-xs-4 control-label padding-left-none" style="white-space: nowrap;">自动上传</label>
                                <div class="col-xs-8">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="schedule.isupload" btn-radio="'1'">是</label>
                                        <label class="btn btn-default" ng-model="schedule.isupload" btn-radio="'0'">否</label>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div>
                        <textarea class="form-control" placeholder="课程描述，最多可以输入300字"
                                  style="height: 140px;" maxlength="300"  onKeyUp="if(this.value.length > 300) this.value=this.value.substr(0,300)"
                                  ng-model="schedule.coursedesc"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="(frmEditSchedule.$pristine || frmEditSchedule.$invalid) && !successSave " ng-click="save()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>

