<div>
    <div class="modal-header">
        <a href type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
        </a>
        <span class="modal-title">
            <h3>删除服务器</h3>
        </span>
    </div>
    <div class="modal-body">
        <h4>确认删除<b>{{Server.name}}</b>服务器信息</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="okDel()" focus-me="true">确认</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>