<div class="container-fluid padding-top-20">
    <div class="row padding-left-none">
        <div class="row margin-right-none padding-bottom-15">
            <div class="col-xs-4">
                <a href ng-href="#/PersonalInformation/schedule">
                    <i class="icon-reply blue-color"> </i>
                    <span class="gray-color">返回</span>
                </a>
            </div>
            <div class="col-xs-6">
                <i class="icon-my-folder blue-color"></i>
                <span class="blue-color" style="font-size: 16px;"> 高一数学</span>
            </div>
        </div>
    </div>
    </div class="row  padding-left-none">
        <div class="row margin-right-none schedule-font">
            <div class="col-xs-12">
                <span class="padding-right-10 datted-border">课堂介绍</span> 
                <span class="schedule-time padding-left-10">2014-12-19 17:23:32</span>
            </div>
        </div>
        <div class="row margin-right-none">
            <div class="col-xs-12 col-sm-5">
                <div class="schedule-img padding-10">
                    <div class="vedio-image padding-left-right-none col-xs-12">
                        <a href="#/excellentCourseShow">
                            <img src="assets/img/lemon-pages-12.jpg">
                        </a>
                    </div>        
                    <div class=" col-xs-12 padding-left-right-none">              
                        <div class="v-meta-overlay padding-left-none text-center">
                            <span class="teacher-name">李梅</span> 
                        </div>
                    </div>
                </div>
                <!-- <div class="drop-box" style="height:200px"
                     ng-file-drop="onFileSelect($files)">

                    <div ng-if="!file">
                        <div class="col-xs-12 padding-10">
                            <div class="vedio-image padding-left-right-none col-xs-12">
                                <a href="#/excellentCourseShow">
                                    <img src="assets/img/lemon-pages-12.jpg">
                                </a>
                            </div>        
                            <div class=" col-xs-12 padding-left-right-none">              
                                <div class="v-meta-overlay padding-left-none text-center">
                                    <span class="teacher-name">李梅</span> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="img">
                        <img style="width:168px;height:220px;" ng-src="{{img}}">
                    </div>
                    <div ng-if="!img">
                        <img style="width:100%;" ng-src="{{live.imageurl}}">
                    </div>
                </div> -->
            </div>
            <div class="col-xs-12 col-sm-7" style="margin-top: 20px">
                <div class="row">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">主题</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span ng-if="editconditionpencil === 'title'" contenteditable="true" >三角函数计算</span>
                        <span >三角函数计算</span>
                        <i class="icon-create blue-color" ng-click="editcontent('title')"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">教师</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>刘梅</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">班级</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>高一八班</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">时间</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>第八周 周三 第3-4节</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">地点</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>东203教室</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 14px">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">学科</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>数学<span>
                        <i class="icon-create blue-color"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <span class="padding-right-10 datted-border">阶段</span>
                    </div>
                    <div class="col-xs-5 padding-left-none">
                        <span>高一</span>
                        <i class="icon-create blue-color"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div class="row padding-left-right-none">
        <div class="row margin-right-none schedule-font">
            <div class="col-xs-10">
                <span class="padding-right-10 datted-border">课堂介绍</span> 
                <span class="schedule-time padding-left-10">2014-12-19 17:23:32</span>
            </div>
            
            <div class="col-xs-2 text-right pull-right">
                <i class="icon-create blue-color"></i>
            </div>
        </div>
        <div class="row margin-right-none" style="margin: 24px 0 24px 0">
            <lable>
                One may fall in love with many people during the lifetime.When you finally get your own happiness, you will understand the previous sadness is kind of treasure, which makes you better to hold and cherishthe people you.
                Don't forget the things you once you owned.Treasure the things you can't get.Don't give up the things that belong to you and keep those lost things in memory
            </lable>
        </div>
    </div>
    </div class="row padding-left-none">
        <div class="row margin-right-none schedule-font">
            <div class="col-xs-10">
                <span class="padding-right-10 datted-border">课前准备</span> 
                <span class="schedule-time padding-left-10">2014-12-19 17:23:32</span>
            </div>
            <div class="col-lg-2 text-right pull-right">
                <i class="icon-my-library-add" ng-click="AddFileDoc()"></i>
            </div>
        </div>
        <div class="row margin-right-none showOperation margin-top-5">
            <div class="col-xs-7">
                <i class="icon-Word deep-blue-color"></i> 
                <span>儿童英语故事、小学生双语故事（超全版）.doc</span>
            </div>
            <div class="col-xs-3 hideoperate">
                <a href ng-click="visibility()">
                    <i ng-show="visibilityModal === false" class="icon-visibility-off" style="font-size: 15px"></i>
                    <i ng-show="visibilityModal === true" class="icon-visibility" style="font-size: 15px"></i>
                </a>
                <a href ng-click="moveFile()"><i class="icon-my-library-del" style="font-size: 15px;padding-left: 31px"></i></a>
            </div>
            <div class="col-xs-2 text-right padding-left-none pull-right">27.33MB</div>
        </div>
        <div class="row margin-right-none showOperation">
            <div class="col-xs-7">
                <i class="icon-Word deep-blue-color"></i> 
                <span>儿童英语故事、小学生双语故事（超全版）.doc</span>
            </div>
            <div class="col-xs-3 hideoperate">
                <a href ng-click="visibility()">
                    <i ng-show="visibilityModal === false" class="icon-visibility-off" style="font-size: 15px"></i>
                    <i ng-show="visibilityModal === true" class="icon-visibility" style="font-size: 15px"></i>
                </a>
                <a href ng-click="moveFile()"><i class="icon-my-library-del" style="font-size: 15px;padding-left: 31px"></i></a>
            </div>
            <div class="col-xs-2 text-right padding-left-none pull-right">27.33MB</div>
        </div>
        <div class="row margin-right-none showOperation">
            <div class="col-xs-7">
                <i class="icon-Word deep-blue-color"></i> 
                <span>儿童英语故事、小学生双语故事（超全版）.doc</span>
            </div>
            <div class="col-xs-3 hideoperate">
                <a href ng-click="visibility()">
                    <i ng-show="visibilityModal === false" class="icon-visibility-off" style="font-size: 15px"></i>
                    <i ng-show="visibilityModal === true" class="icon-visibility" style="font-size: 15px"></i>
                </a>
                <a href ng-click="moveFile()"><i class="icon-my-library-del" style="font-size: 15px;padding-left: 31px"></i></a>
            </div>
            <div class="col-xs-2 text-right padding-left-none pull-right">27.33MB</div>
        </div>
        <div class="row margin-right-none showOperation">
            <div class="col-xs-7">
                <i class="icon-Word deep-blue-color"></i> 
                <span>儿童英语故事、小学生双语故事（超全版）.doc</span>
            </div>
            <div class="col-xs-3 hideoperate">
                <a href ng-click="visibility()">
                    <i ng-show="visibilityModal === false" class="icon-visibility-off" style="font-size: 15px"></i>
                    <i ng-show="visibilityModal === true" class="icon-visibility" style="font-size: 15px"></i>
                </a>
                <a href ng-click="moveFile()"><i class="icon-my-library-del" style="font-size: 15px;padding-left: 31px"></i></a>
            </div>
            <div class="col-xs-2 text-right padding-left-none pull-right">27.33MB</div>
        </div>
        <div class="row margin-right-none" style="margin-bottom: 20px">
            <div class="pull-right blue-color" style="font-size: 15px">
                展开更多<i class="icon-arrow-drop-down"></i>
            </div>
        </div>
    <div>
    </div class="row padding-left-none">
        <div class="row margin-right-none schedule-font">
            <div class="col-xs-7">
                <span class="padding-right-10 datted-border">课堂生成资源</span> 
            </div>
            <div class="col-xs-5 text-right pull-right blue-color">
                <span ng-click="visibility1()" >
                    <i ng-show="visibilityModal1 === false" class="icon-visibility" title="可见" style="font-size: 15px"></i>
                    <i ng-show="visibilityModal1 === true" class="icon-visibility-off" title="不可见" style="font-size: 15px"></i>
                </spana>
                <span href ng-click="collectShow()" style="text-decoration: none">
                    <i ng-show="collectShowModal === false" class="icon-star-o" title="收藏" style="font-size: 15px;padding-left: 32px"></i>
                    <i ng-show="collectShowModal === true" class="icon-star" title="取消收藏" style="font-size: 15px;padding-left: 32px"> </i>
                </span>
            </div>
        </div>

        <div class="row margin-right-none margin-right-none" style="margin: 40px 0 24px 0">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-12 padding-10" style="border: solid 2px #f2f2f2;height: auto">
                    <img src="assets/img/lemon-pages.jpg" style="width:100%">
                </div>

                <div class="col-xs-12 padding-top-10">
                    <div class="col-xs-12">
                        <span class="padding-right-10 datted-border">录制时间</span>
                        <span class="schedule-time padding-left-10">2014-12-19 17:23:32</span>
                    </div>
                    <div class="col-xs-12 padding-top-10">
                        <span class="padding-right-10 datted-border">录制时长</span>
                        <span class="schedule-time padding-left-10">07:23:32</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>