<div>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        教室：<select>
                <option>东101教室</option>
                <option>西102教室</option>
                <option>西103教室</option>
            </select><br><br>
        班级：<select>
                <option>六年级一班</option>
                <option>五年级一班</option>
                <option>六年级二班</option>
            </select><br><br>
        授课教师：<select>
                    <option>六年级一班</option>
                    <option>五年级一班</option>
                    <option>六年级二班</option>
                </select><br><br>
        课程：<input><br><br>
        描述：<input type="text" style="height: 100px"><br><br>
        直播：<button type="reset"></button>是/否<br><br>
        直播模式：<select>
                    <option>电影</option>
                    <option>录播</option>
                    <option>直播</option>
                </select><br><br>
        开课周：<input><br><br>
        星期：<select>
                    <option>周一</option>
                    <option>周二</option>
                    <option>周三</option>
                    <option>周四</option>
                    <option>周五</option>
                    <option>周六</option>
                    <option>周日</option>
                </select><br><br>
        节次：<input><br><br>
        课间录像：<button type="reset"></button>是/否<br><br>
        互动课程：<button type="reset"></button>是/否<br><br>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>