<div class="modal-header ng-scope">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
    </button>
    <h3 class="modal-title">图片设置</h3>
</div>
<div class="modal-body ng-scope">
    <form name="frmAreaEditor" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="imageName">图片名称</label>
        <div class="col-sm-10">
        <input  class="form-control" id="imageName" placeholder="图片名称" type="text" ng-model="image.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="image2">标签</label>
        <div class="col-sm-10">
        <input class="form-control" id="image2" placeholder="标签" type="text" ng-model="image.label">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="image3">描述</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="image3" placeholder="描述" ng-model="image.description"></textarea>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer ng-scope">
            <button class="btn btn-primary" ng-click="ok()">保存</button>
            <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>