<div class="container-fluid" style="background-color: #f2f2f2;border-radius: 5px">
    <div class="modal-header" ><h4>新建文件夹</h4></div>
    <div class="modal-body">
    	<div class="col-xs-4"><span style="float: right">请输入文件名</span></div>
        <div class="col-xs-6"><input style="height: 30px;width: 200px"></div>
    </div>
    <div style="margin: 34px;">
        <span><button class="btn btn-primary" style="width: 169px" ng-click="ok()">确定</button></span>
        <span><button class="btn btn-default" style="width: 169px" ng-click="cancel()">取消</button></span>
    </div>
</div>