<div class="resourcereleased">
	<div class="whiteframe">
	    <div style="padding:8px" class="row"> 
	    	<div class="col-xs-4 text-right">                
                时间：<input type="date" class="form-control" datepicker2 style="display:inline-block;width:160px;"  ng-model="key.startTime" /> 至：<input type="date" class="form-control" datepicker2 style="display:inline-block;width:160px;"  ng-model="key.endTime" />
            </div>
            <div class="col-xs-3 text-right">
	            主叫：<input type="text" class="form-control" style="display:inline-block;width:150px;"  ng-model="key.callerPerson" />
            </div> 
            <div class="col-xs-3 text-right">
                被叫：<input type="text" class="form-control" style="display:inline-block;width:150px;"  ng-model="key.calledPerson" />
            </div> 
	        <div class="col-xs-1">
	            <div class="input-group pull-right text-right" style="width:240px">
	                <!-- <input  type="text" ng-model="key.name" class="form-control" placeholder="请输入关键词">
	                <span class="input-group-btn">
	                        <button ng-click="GetActionList(key)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	                </span> -->
	                <button class="btn btn-primary" ng-click="GetVoiceCallList(key)">搜索</button>
	            </div>
	        </div>
	    </div>
	<div>
    <!--<div class="formheader">-->
    <div class="panel panel-default">
        <div class="panel-body padding-0" style="min-height:467px">
            <table class="table table-striped" style="text-align: center">
                <thead class="formthead">
	                <td>时间</td>
	                <td>主叫</td>
	                <td>被叫</td>
	                <td>状态</td>
                    <td>通话时长</td> 
                </thead>
                 <!--遍历数据-->
                <tr ng-repeat="voiceCallList in voiceCallLists">
                    <td>{{voiceCallList.time}}</td>
                    <td>{{voiceCallList.callerPerson}}</td>
                    <td>{{voiceCallList.calledPerson}}</td>
                    <td>
                         <span ng-if="voiceCallList.state==0">接通</span>   
                         <span ng-if="voiceCallList.state==1">拒绝</span>
                         <span ng-if="voiceCallList.state==2">无应答</span>
                    </td>
                    <td>{{voiceCallList.talkTime}}</td>                    
                </tr>
            </table>

            <button ng-if="pagination.totalItems === 0" class="ondata">
                <span class="ondatatext">找不到您搜索的信息！</span>
                <!-- <a ng-href="#/resource/videoShow">test</a> -->
            </button>

            <!--<div ng-if="pagination.totalItems === 0" style="margin-left: 320px;margin-top: 400px">
                <a style="color: #f2f2f2;font-size: 32px;">没有查到任何相关的数据</a>
            </div>-->
        </div>

        <div class="panel-footer">

            <div ng-if="pagination.totalItems > 0" class="row">

                <div class="col-xs-3" style="padding-top:8px;">
                    <span>共{{pagination.totalItems}}条数据，</span>
                                <span>每页显示
                                    <select ng-model="pagination.pageSize" ng-change="onSelectPage(pagination.pageIndex)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>条
                                </span>
                </div>

                <div class="col-xs-7" ng-show="pagination.totalItems > pagination.pageSize">
                    <!-- 分页  -->
                    <pagination class="pagination-sm pull-right" total-items="pagination.totalItems"
                                page="pagination.pageIndex"
                                items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize"
                                previous-text="{{pagination.previousText}}"
                                next-text="{{pagination.nextText}}"
                                first-text="{{pagination.firstText}}"
                                last-text="{{pagination.lastText}}"
                                class="pagination-small"
                                boundary-links="true"
                                on-select-page="onSelectPage(page)">
                    </pagination>
                </div>
                <div class="col-xs-2" style="padding-top:8px;" ng-show="pagination.totalItems > pagination.pageSize">
                    <div class="input-group input-group-sm" style="width: 100px"
                         tooltip-placement="top" tooltip-popup-delay="1000" tooltip="跳转页面">
                        <input type="number" ng-model="pageIndex" class="form-control" min="1" max="{{pagesize}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="onSelectPage(pageIndex)">
                                        Go
                                    </button>
                                </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>