 <div ng-if="pageFlag === 'home'" >
 	<div ng-include="'liveCourses/partial/liveCourses.home.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'math'" >
 	<div ng-include="'liveCourses/partial/liveCourses.math.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'chinese'" >
 	<div ng-include="'liveCourses/partial/liveCourses.chinese.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'english'" >
 	<div ng-include="'liveCourses/partial/liveCourses.english.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'physics'" >
 	<div ng-include="'liveCourses/partial/liveCourses.physics.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'chemistry'" >
 	<div ng-include="'liveCourses/partial/liveCourses.chemistry.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'biology'" >
 	<div ng-include="'liveCourses/partial/liveCourses.biology.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'geography'" >
 	<div ng-include="'liveCourses/partial/liveCourses.geography.tpl.html'"></div>
 </div>
  <div ng-if="pageFlag === 'political'" >
 	<div ng-include="'liveCourses/partial/liveCourses.political.tpl.html'"></div>
 </div>