<div class="content">
    <div class="message-article">
        <div class="numpic">1</div>
        <div class="article-title">
            <b>广西广东等华南沿海有暴雨 华北迎雷阵雨</b>
        </div>
        <div class="article-time">
            <i class="icon-access-time yellow-color"></i>&nbsp;
            <span style="color: #aeaeae">2014-11-25</span>
        </div>
        <div class="article-content" >
            <span>　　8月26日，在北京举办的《战音OL》发布会上，网易董事董瑞豹说自己是一个有音乐情怀的大叔，也正是这样的音乐情
                怀，让他和他的浚源工作室，花了4年的时间，将RPG和音乐游戏结合在一起，做出了这款名为《战音OL》的游戏。RPG+音
                乐游戏？这款游戏到底要怎么玩？相信不少玩家仍然不太了解，17173在发布会之后对董瑞豹先生进行了采访，以便让
                玩家们能够更加了解这款游戏究竟是个什么样的。
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
            </span>
        </div>
    </div>
    <div class="message-article">
        <div class="numpic">1</div>
        <div class="article-title">
            <b>广西广东等华南沿海有暴雨 华北迎雷阵雨</b>
        </div>
        <div class="article-time">
            <i class="icon-access-time yellow-color"></i>&nbsp;
            <span style="color: #aeaeae">2014-11-25</span>
        </div>
        <div class="article-content" >
            <span>　　8月26日，在北京举办的《战音OL》发布会上，网易董事董瑞豹说自己是一个有音乐情怀的大叔，也正是这样的音乐情
                怀，让他和他的浚源工作室，花了4年的时间，将RPG和音乐游戏结合在一起，做出了这款名为《战音OL》的游戏。RPG+音
                乐游戏？这款游戏到底要怎么玩？相信不少玩家仍然不太了解，17173在发布会之后对董瑞豹先生进行了采访，以便让
                玩家们能够更加了解这款游戏究竟是个什么样的。
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
            </span>
        </div>
    </div>
    <div class="message-article">
        <div class="numpic">1</div>
        <div class="article-title">
            <b>广西广东等华南沿海有暴雨 华北迎雷阵雨</b>
        </div>
        <div class="article-time">
            <i class="icon-access-time yellow-color"></i>&nbsp;
            <span style="color: #aeaeae">2014-11-25</span>
        </div>
        <div class="article-content" >
            <span>　　8月26日，在北京举办的《战音OL》发布会上，网易董事董瑞豹说自己是一个有音乐情怀的大叔，也正是这样的音乐情
                怀，让他和他的浚源工作室，花了4年的时间，将RPG和音乐游戏结合在一起，做出了这款名为《战音OL》的游戏。RPG+音
                乐游戏？这款游戏到底要怎么玩？相信不少玩家仍然不太了解，17173在发布会之后对董瑞豹先生进行了采访，以便让
                玩家们能够更加了解这款游戏究竟是个什么样的。
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
            </span>
        </div>
    </div>
    <div class="message-article">
        <div class="numpic">1</div>
        <div class="article-title">
            <b>广西广东等华南沿海有暴雨 华北迎雷阵雨</b>
        </div>
        <div class="article-time">
            <i class="icon-access-time yellow-color"></i>&nbsp;
            <span style="color: #aeaeae">2014-11-25</span>
        </div>
        <div class="article-content" >
            <span>　　8月26日，在北京举办的《战音OL》发布会上，网易董事董瑞豹说自己是一个有音乐情怀的大叔，也正是这样的音乐情
                怀，让他和他的浚源工作室，花了4年的时间，将RPG和音乐游戏结合在一起，做出了这款名为《战音OL》的游戏。RPG+音
                乐游戏？这款游戏到底要怎么玩？相信不少玩家仍然不太了解，17173在发布会之后对董瑞豹先生进行了采访，以便让
                玩家们能够更加了解这款游戏究竟是个什么样的。
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
                本文来自: 17173.com 中国游戏第一门户站 详细出处参考：http://news.17173.com/content/2014-08-27/20140827094359153_all.shtml
            </span>
        </div>
    </div>
</div>
<pagination
        class="pagination-sm pull-right"
        total-items="pagination.totalItems"
        page="pagination.pageIndex"
        items-per-page="pagination.pageSize"
        max-size="pagination.maxSize"
        previous-text="{{pagination.previousText}}"
        next-text="{{pagination.nextText}}"
        first-text="{{pagination.firstText}}"
        last-text="{{pagination.lastText}}"
        class="pagination-small"
        boundary-links="true"
        on-select-page="onSelectPage(page)">
</pagination>