<div class="container-fluid">
    <div class="whiteframe" style="margin-left:-16px">
        <!--<div class="pull-left">
            <div style="display: -webkit-inline-box">
                <div style="margin-left: 80px;margin-top:8px;margin-right: -40px">
                    <input type="checkbox" checked>开机同步
                </div>
            </div>
        </div>-->
        <br><br>
        <div class="pull-left">
            <div style="display: -webkit-inline-box">
                <div style="margin-left: 80px;margin-top:8px;margin-right: -40px">
                    <input type="checkbox" checked>每天开机同步
                </div>
            </div>
        </div>
        <br><br>
        <div class="pull-left">
            <div style="display: -webkit-inline-box">
                <div style="margin-left: 80px;margin-top:8px;margin-right: -40px">
                    <input type="checkbox" checked>每周
                    <select>
                        <option>日</option>
                        <option>一</option>
                        <option>二</option>
                        <option>三</option>
                        <option>四</option>
                        <option>五</option>
                        <option>六</option>
                    </select>开机同步
                </div>
            </div>
        </div>
        <br><br>

        <div class="pull-left">
            <div style="display: -webkit-inline-box">
                <div style="margin-left: 80px;margin-top:8px;margin-right: -40px">
                    <input type="checkbox" checked>录像任务有更新时，立即同步
                </div>
            </div>
        </div>
        <br>
        <div class="pull-left">
            <div style="display: -webkit-inline-box">
                <div style="margin-left: 80px;margin-top:8px;margin-right: -40px">
                    <button class="btn btn-primary" ng-disabled="frmAreaEditor.$pristine || frmAreaEditor.$invalid || showAreaNameError"  ng-click="save()">保存</button>
                    <button class="btn btn-default" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>