<div class="col-xs-10 ">
            <div class="whiteframe" style="margin-left:-16px">
                <div class="row padding-8">
                    <div class="col-xs-3">
                        <button class="btn btn-primary" ng-click="newExampleModal()">
                            生成模板
                        </button>
                        <button class="btn btn-primary" ng-click="batchTacticsdataModal()">
                            模板同步
                        </button>
                    </div>

                    <div class="col-xs-3 pull-right">
						<span>参数模板：</span>
						<select class="form-control inline-block width-115" >
							<option>参数模板一</option>
						</select>
                    </div>
                </div>
                <div>
                    <!--<div style="border-top: solid 2px #c0c0c0;padding:8px;text-align:center">-->
                    <div class="panel panel-default">
                        <div class="panel-body padding-0" id="rightContent-height">
                        
                        <!--<div ng-if="pagination.totalItems === 0" style="margin-left: 320px;margin-top: 400px">
                            <a style="color: #cecece;font-size: 32px;">没有查到任何相关的数据</a>
                        </div>-->
                        <button ng-if="pagination.totalItems === 0" class="ondata">
                            <span class="ondatatext">找不到您搜索的信息！</span>
                        </button>
                    </div>

                        <div class="panel-footer" style="padding-top:1px;padding-bottom:1px;">

                            <!-- <div ng-if="pagination.totalItems > 0" class="row"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>