<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
    </button>
    <div class="modal-title">
        <h3>修改用户密码</h3>
    </div>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="modiPassword" role="form">
	    <div class="form-group margin-bottom-8" style="line-height: 30px">
	        <label class="col-xs-3 control-label padding-left-none" for="subject" style="white-space:nowrap">原始密码</label>
	        <div class="col-xs-6">
	           　 　		<input class="form-control" name="originalpassword" ng-model="originalPassword" required style="margin-top: -25px;">
	        </div><span style="color: red;vertical-align: text-top">*</span>
	    </div>
	    <div class="form-group margin-bottom-8" style="line-height: 30px">
	        <label class="col-xs-3 control-label padding-left-none" for="subject" style="white-space:nowrap">新密码</label>
	        <div class="col-xs-6">
	           　 　		<input type="password" class="form-control" name="newPassword" ng-model="newPassword" required style="margin-top: -25px;">
	        </div><span style="color: red;vertical-align: text-top;">*</span>
	    </div>
	    <div class="form-group margin-bottom-8" style="line-height: 30px">
	        <label class="col-xs-3 control-label padding-left-none" for="subject" style="white-space:nowrap">再次输入新密码</label>
	        <div class="col-xs-6">
	           　 　		<input type="password" class="form-control" name="secondpassword" ng-model="secondPassword" required style="margin-top: -25px;">
                <p class="help-block" style="margin-top:0px">请与新密码保持一致</p>
	        </div><span style="color: red;vertical-align: text-top;">*</span>
	    </div>
	</form>
</div>
<div class="modal-footer margin-top-none">
    <button class="btn btn-primary" ng-disabled="modiPassword.$pristine || modiPassword.$invalid || !(secondPassword==newPassword)" ng-click="save(originalPassword,newPassword,secondPassword)" >保存</button>
    <!-- <button class="btn btn-primary" ng-disabled="modiPassword.$pristine || modiPassword.newPassword.require || modiPassword.secondpassword.require || modiPassword.originalPassword.require || (secondPassword==newPassword)" ng-click="save()" >保存</button> -->
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>