<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zonekey.disrec.dao.DeviceControlMapper">
	<resultMap id="BaseResultMap" type="com.zonekey.disrec.entity.DeviceControl">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="areaid" property="areaid" jdbcType="CHAR" />
		<result column="serviceid" property="serviceid" jdbcType="CHAR" />
		<result column="interface_name" property="interfaceName"
			jdbcType="VARCHAR" />
		<result column="method" property="method" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="CHAR" />
		<result column="parameter" property="parameter" jdbcType="VARCHAR" />
		<result column="returncontent" property="returncontent"
			jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
		<result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
		<result column="createuser" property="createuser" jdbcType="CHAR" />
		<result column="modifyuser" property="modifyuser" jdbcType="CHAR" />
		<result column="deleteflag" property="deleteflag" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, areaid, serviceid, interface_name, method, type, parameter,
		returncontent, state,
		createdate, modifydate, createuser, modifyuser, deleteflag
	</sql>

	<select id="findOne" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zonekey_device_control
		where id = #{id,jdbcType=CHAR}
	</select>

	<select id="findByPage" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM zonekey_device_control
		LIMIT #{offset} ,#{limit}
	</select>

	<select id="count" resultType="long">
		SELECT count(*) FROM
		zonekey_device_control
	</select>

	<!-- 逻辑删除 -->
	<update id="delete">
		update zonekey_device_control set
		deleteflag='1',modifyuser=#{modifyuser,jdbcType=CHAR},modifydate=sysDate()
		where id =#{id,jdbcType=CHAR}
	</update>

	<insert id="insert" parameterType="com.zonekey.disrec.entity.DeviceControl">
		insert into zonekey_device_control (id, areaid, serviceid,
		interface_name, method, type,
		parameter, returncontent, state,
		createdate, modifydate, createuser,
		modifyuser, deleteflag)
		values (#{id,jdbcType=CHAR}, #{areaid,jdbcType=CHAR},
		#{serviceid,jdbcType=CHAR},
		#{interfaceName,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{type,jdbcType=CHAR},
		#{parameter,jdbcType=VARCHAR}, #{returncontent,jdbcType=VARCHAR},
		#{state,jdbcType=CHAR},
		#{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, #{createuser,jdbcType=CHAR},
		#{modifyuser,jdbcType=CHAR}, #{deleteflag,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zonekey.disrec.entity.DeviceControl">
		insert into zonekey_device_control
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="areaid != null">
				areaid,
			</if>
			<if test="serviceid != null">
				serviceid,
			</if>
			<if test="interfaceName != null">
				interface_name,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="parameter != null">
				parameter,
			</if>
			<if test="returncontent != null">
				returncontent,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createdate != null">
				createdate,
			</if>
			<if test="modifydate != null">
				modifydate,
			</if>
			<if test="createuser != null">
				createuser,
			</if>
			<if test="modifyuser != null">
				modifyuser,
			</if>
			<if test="deleteflag != null">
				deleteflag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="areaid != null">
				#{areaid,jdbcType=CHAR},
			</if>
			<if test="serviceid != null">
				#{serviceid,jdbcType=CHAR},
			</if>
			<if test="interfaceName != null">
				#{interfaceName,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=CHAR},
			</if>
			<if test="parameter != null">
				#{parameter,jdbcType=VARCHAR},
			</if>
			<if test="returncontent != null">
				#{returncontent,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="createdate != null">
				#{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifydate != null">
				#{modifydate,jdbcType=TIMESTAMP},
			</if>
			<if test="createuser != null">
				#{createuser,jdbcType=CHAR},
			</if>
			<if test="modifyuser != null">
				#{modifyuser,jdbcType=CHAR},
			</if>
			<if test="deleteflag != null">
				#{deleteflag,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.zonekey.disrec.entity.DeviceControl">
		update zonekey_device_control
		<set>
			<if test="areaid != null">
				areaid = #{areaid,jdbcType=CHAR},
			</if>
			<if test="serviceid != null">
				serviceid = #{serviceid,jdbcType=CHAR},
			</if>
			<if test="interfaceName != null">
				interface_name = #{interfaceName,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				method = #{method,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=CHAR},
			</if>
			<if test="parameter != null">
				parameter = #{parameter,jdbcType=VARCHAR},
			</if>
			<if test="returncontent != null">
				returncontent = #{returncontent,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=CHAR},
			</if>
			<if test="createdate != null">
				createdate = #{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifydate != null">
				modifydate = #{modifydate,jdbcType=TIMESTAMP},
			</if>
			<if test="createuser != null">
				createuser = #{createuser,jdbcType=CHAR},
			</if>
			<if test="modifyuser != null">
				modifyuser = #{modifyuser,jdbcType=CHAR},
			</if>
			<if test="deleteflag != null">
				deleteflag = #{deleteflag,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zonekey.disrec.entity.DeviceControl">
		update zonekey_device_control
		set areaid = #{areaid,jdbcType=CHAR},
		serviceid = #{serviceid,jdbcType=CHAR},
		interface_name = #{interfaceName,jdbcType=VARCHAR},
		method = #{method,jdbcType=VARCHAR},
		type = #{type,jdbcType=CHAR},
		parameter = #{parameter,jdbcType=VARCHAR},
		returncontent = #{returncontent,jdbcType=VARCHAR},
		state = #{state,jdbcType=CHAR},
		createdate = #{createdate,jdbcType=TIMESTAMP},
		modifydate = #{modifydate,jdbcType=TIMESTAMP},
		createuser = #{createuser,jdbcType=CHAR},
		modifyuser = #{modifyuser,jdbcType=CHAR},
		deleteflag = #{deleteflag,jdbcType=CHAR}
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>