
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':active===0}"><a ng-href="#/director/li">关于系统！！！</a></li>
        </ul>

        <div>
            <button class="btn btn-primary" ng-click="kernModal()">!!!!!</button>
        </div>


    </div>
</nav>
<div ui-view="classroom-manage"></div>

<!--
<div class="container-fluid">
</div>
<div class="col-md-12">
    <div>
        <button class="btn btn-primary" ng-click="kernModal()">!!!!!</button>
    </div>
</div>-->


