<div class="menu-container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" ng-class="{'mp-pushed':menu.open}" ng-style="{transform:'translate3d(' + menu.push + 'px, 0px,0px)'}">
        <!-- mp-menu -->
        <nav class="mp-menu mp-overlap">
            <div class="mp-level mp-level-open" ng-class="{'mp-level-overlay':menu.active}" data-level="1">
                <h2 class="icon icon-world"><img src="images/logo.png"/></h2>
                <ul class="scroller">
                    <li ng-repeat="menuL1 in menu.data" class="icon icon-arrow-left">
                        <a ng-hide="menuL1.url===''" class="icon" ng-class="menuL1.icon"  ng-href="{{menuL1.url}}">{{menuL1.label}}</a>
                        <a ng-show="menuL1.url===''" class="icon" ng-class="menuL1.icon" ng-click="toggleMenuL2(menuL1);">{{menuL1.label}}</a>
                        <div class="mp-level" ng-class="{'mp-level-open':menuL1.open}" data-level="2">
                            <h2 class="icon" ng-class="menuL1.icon">{{menuL1.label}}</h2>
                            <a class="mp-back" ng-click="toggleMenuL2(menuL1);">返回</a>
                            <ul>
                                <li>
                                    <a ng-repeat="menuL2 in menuL1.data" class="icon" ng-class="menuL2.icon" ng-href="{{menuL2.url}}">{{menuL2.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- /mp-menu -->
        <div class="scroller" ng-class="{'mp-pushed':menu.open, 'mp-level-open':menu.active}">
            <div class="scroller-inner">
                <div class="menu-trigger"></div>
                <div ng-transclude></div>
            </div>
        </div>
    </div>
</div>